:host {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--bs-light);

  .cdk-nested-tree-node {
    display: flex;
    flex-direction: column;
  }
}
