<form class="card detail" *ngIf="(account.info | async) as info" #detailForm="ngForm"
  [@animation]="animation" (@animation.done)="onAnimationEvent($event)">
  <div class="card-header d-flex justify-content-between align-content-center">
    <h5 class="card-title mb-0">{{title}}</h5>
    <div class="btn-group btn-group-sm">
      <button *ngIf="info.privileges['vectortiles.update'] && editable"
        type="button" class="btn btn-sm btn-outline-primary"
        (click)="save()" [disabled]="!detailForm.valid">
        <svg-icon path="bi/check"></svg-icon> 保存
      </button>
      <button type="button" class="btn btn-sm btn-outline-secondary"
        (click)="goBack()">
        <svg-icon path="bi/x"></svg-icon> 取消
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="form-group">
      <label class="form-label text-muted" for="name">名称  <i class="text-danger">*</i> </label>
      <input class="form-control" type="text" id="name" name="name"
        placeholder="请输入矢量切片包名称 ..." required
        [disabled]="!editable"
        [(ngModel)]="model.name"
        #name="ngModel"
        [class.is-invalid]="!(name.valid || name.pristine)"
        [class.is-valid]="name.valid"
      />
    </div>
    <div class="form-group">
      <label class="form-label text-muted" for="directory">缓存目录  <i class="text-danger">*</i> </label>
      <input class="form-control" type="text" id="directory" name="directory"
        placeholder="请输入矢量切片包缓存目录 ..." required
        [disabled]="!editable"
        [(ngModel)]="model.directory"
        #directory="ngModel"
        [class.is-invalid]="!(directory.valid || directory.pristine)"
        [class.is-valid]="directory.valid"
      />
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label class="form-label text-muted" for="minZoom">最小缩放级别 </label>
          <input class="form-control" type="number" step="1" id="minZoom" name="minZoom"
            placeholder="请输入最小缩放级别 ..."
            [(ngModel)]="model.minZoom" [disabled]="!editable"
          />
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label class="form-label text-muted" for="maxZoom">最大缩放级别 </label>
          <input class="form-control" type="number" step="1" id="maxZoom" name="maxZoom"
            placeholder="请输入最大缩放级别 ..."
            [(ngModel)]="model.maxZoom" [disabled]="!editable"
          />
        </div>
      </div>
    </div>
    <div class="custom-file">
      <input class="custom-file-input" type="file" id="styleFile" name="styleFile" #styleFile >
      <label class="custom-file-label" for="customFile">{{styleFileName}}</label>
    </div>
  </div>
  <div *ngIf="info.privileges['vectortiles.update'] && editable"
    class="card-footer d-flex justify-content-between">
    <button type="button" class="btn btn-sm btn-outline-primary"
      (click)="save()" [disabled]="!detailForm.valid">
      <svg-icon path="bi/check"></svg-icon> 保存
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary"
      (click)="goBack()">
      <svg-icon path="bi/x"></svg-icon> 取消
    </button>
  </div>
</form>
