:root {
  --app-navbar-height: 3.5rem;
  --app-detail-zIndex: 100;
  --app-nav-sidebar-width: 220px;
  --app-nav-sidebar-collapsed-width: 54px;
  --app-nav-sidebar-item-height: 48px;
}

html, body {
  width: 100%; height: 100%;
  margin: 0; padding: 0;
  overflow: hidden;
}

#app-root {
  display: block;
  width: 100%; height: 100%;
  margin: 0;
  padding: 54px 0 0 0;
}

#loading-indicator {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 48px;
  margin-left: -100px;
  margin-top: -50px;
  text-align: center;
  line-height: 48px;
}

.breadcrumb {
  padding: .75rem 1rem;
  margin-bottom: 0 !important;
}

.clickable {
  cursor: pointer !important;
}

ngb-pagination ul.pagination {
  margin-bottom: 0 !important;
}

.detail-container {
  position: absolute;
  top: var(--app-navbar-height);
  right: 0;
  height: calc(100vh - var(--app-navbar-height));
  bottom: 0;
  z-index: var(--app-detail-zIndex);
}

.detail {
  height: 100%;
  background-color: var(--bs-light);
}

.detail .card-body {
  overflow-y: auto;
}

.offcanvas-vw-40 {
  --bs-offcanvas-width: 40vw;
}
