:root {
  --navbar-height: 3.5rem;
  --detail-zIndex: 100;
  --nav-sidebar-width: 220px;
  --nav-sidebar-collapsed-width: 54px;
  --nav-sidebar-item-height: 48px;
}

html {
  width: 100%; height: 100%;
  margin: 0; padding: 0;
  overflow: hidden;
}

body {
  width: 100%; height: 100%;
  margin: 0; padding: 0;
  overflow: hidden;
}

#app-root {
  display: block;
  width: 100%; height: 100%;
  margin: 0;
  padding: 54px 0 0 0;
}

#loading-indicator {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 48px;
  margin-left: -100px;
  margin-top: -50px;
  text-align: center;
  line-height: 48px;
}

.breadcrumb {
  padding: .75rem 1rem;
  margin-bottom: 0 !important;
}
