<form class="card privileges" [@animation]="animation"
  (@animation.done)="onAnimationEvent($event)" #privilegeForm="ngForm">
  <div class="card-header d-flex justify-content-between align-content-center">
    <h5 class="card-title mb-0">{{title}}</h5>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-sm btn-outline-primary"
        (click)="goBack()">
        <i class="fa fa-times"></i> 确定
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="form-group" *ngFor="let mp of vm.privileges">
      <h6 class="" for="">{{mp.module}}</h6>
      <div class="form-check-inline" *ngFor="let p of mp.privileges">
        <input class="form-check-input" type="checkbox" [name]="p.name" [id]="p.id"
          [value]="p.name" [checked]="vm.rolePrivileges[p.name]"
          (click)="togglePrivilege($event)" />
        <label class="form-check-label" [for]="p.id">
          {{p.description || p.name}}
        </label>
      </div>
    </div>
  </div>
</form>
