<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">首页</a></li>
    <li class="breadcrumb-item"><a routerLink="/admin">管理</a></li>
    <li class="breadcrumb-item active" aria-current="page">系统权限</li>
  </ol>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div *ngIf="(account.info | async) as info" class="card">
        <div class="card-header d-flex justify-content-between">
          <h5 class="card-title mb-0">系统权限</h5>
          <div class="btn-group btn-group-sm">
            <button *ngIf="info.privileges['app_privileges.create']"
              type="button" class="btn btn-outline-primary"
              (click)="showDetail('0', true)">
              <svg-icon path="bi/plus"></svg-icon> 新建系统权限
            </button>
            <button type="button" class="btn btn-outline-secondary"
              (click)="loadData()">
              <svg-icon path="bi/arrow-repeat"></svg-icon> 刷新
            </button>
          </div>
        </div>
        <form class="p-2 bg-light">
          <div class="row">
            <div class="col-6">
              <div class="row g-0 align-items-center">
                <label for="pageSize" class="col-auto col-form-label col-form-label-sm">
                  显示：
                </label>
                <div class="col-auto">
                  <select id="pageSize" name="pageSize"
                    class="form-select form-select-sm"
                    [(ngModel)]="vm.searchModel.take"
                    (change)="vm.onPageSizeChange()">
                    <option [value]="10">10</option>
                    <option [value]="25">25</option>
                    <option [value]="50">50</option>
                    <option [value]="100">100</option>
                  </select>
                </div>
                <div class="col-auto text-muted px-2 py-1">条记录</div>
                <div class="col-auto text-muted px-2">
                  <ng-container *ngIf="vm.loading">
                    <svg-icon path="bi/arrow-repeat" iconClass="bi-spin"></svg-icon> 加载中...
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row g-0">
                <div class="col">
                  <!-- <span class="text-muted">其它工具栏</span> -->
                </div>
                <div class="col">
                  <!-- <span class="text-muted">其它工具栏</span> -->
                </div>
                <div class="col">
                  <div class="row g-0">
                    <label class="col-auto col-form-label col-form-label-sm">
                      模块：
                    </label>
                    <div class="col">
                      <select id="module" name="module"
                        class="form-select form-select-sm"
                        [(ngModel)]="vm.searchModel.module"
                        (change)="vm.search()">
                        <option value="">全部</option>
                        <option *ngFor="let m of (vm.modules | async)" [value]="m">
                          {{m}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="table-responsive">
          <table class="table table-striped mb-0">
            <thead>
              <tr>
                <th scope="col" class="text-end text-nowrap text-muted">#</th>
                <th scope="col" class="text-start text-nowrap text-muted">权限模块</th>
                <th scope="col" class="text-start text-nowrap text-muted">权限名称</th>
                <th scope="col" class="text-start text-nowrap text-muted">权限描述</th>
                <th scope="col" class="text-center text-nowrap text-muted">是否必须</th>
                <th scope="col" class="text-center text-nowrap text-muted">操作</th>
              </tr>
            </thead>
            <tbody *ngIf="(vm.data | async) as data">
              <tr *ngFor="let item of data; let i = index;">
                <th scope="row" class="text-end text-muted">{{i+1+vm.searchModel.skip}}</th>
                <td class="text-start">{{item.module}}</td>
                <td class="text-start">{{item.name}}</td>
                <td class="text-start">{{item.description}}</td>
                <td class="text-center" [class.text-danger]="item.isRequired">{{item.isRequired ? '是' : '否'}}</td>
                <td class="text-center">
                  <div class="btn-group btn-group-sm">
                    <button *ngIf="info.privileges['app_privileges.read']"
                      class="btn btn-outline-secondary" ngbTooltip="详情"
                      placement="top" [openDelay]="300"
                      (click)="showDetail(item.id, false)">
                      <svg-icon path="bi/info-square"></svg-icon>
                    </button>
                    <button *ngIf="info.privileges['app_privileges.update']"
                      class="btn btn-outline-secondary" ngbTooltip="编辑"
                      placement="top" [openDelay]="300"
                      (click)="showDetail(item.id, true)">
                      <svg-icon path="bi/pencil-square"></svg-icon>
                    </button>
                    <button *ngIf="info.privileges['app_privileges.delete']"
                      class="btn btn-outline-secondary" ngbTooltip="删除" placement="top" [openDelay]="300"
                      (click)="delete(item.id)">
                      <svg-icon path="bi/trash"></svg-icon>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <div *ngIf="(vm.data | async) as data" class="row g-0">
            <div class="col-6 d-flex align-items-center">
              <div [class]="data.length > 0 ? 'text-muted' : 'text-warning'">
                <ng-container *ngIf="data.length > 0;else emptyTpl">
                  显示 {{vm.total | async}} 条记录中的第 {{vm.searchModel.skip + 1}} 至 {{vm.searchModel.skip + data.length}} 条
                </ng-container>
                <ng-template #emptyTpl>无数据！</ng-template>
              </div>
            </div>
            <div class="col-6">
              <ngb-pagination *ngIf="vm.showPagination"
                class="d-flex justify-content-end"
                size="sm"
                [collectionSize]="(vm.total | async) || 0"
                [page]="(vm.searchModel.skip / vm.searchModel.take) + 1"
                [pageSize]="vm.searchModel.take"
                [maxSize]="5"
                [rotate]="true"
                [boundaryLinks]="true"
                [ellipses]="true"
                (pageChange)="vm.onPageChange($event)">
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-container">
    <router-outlet></router-outlet>
  </div>
</div>
