<form *ngIf="(account.info | async) as info" class="card detail"
  [@animation]="animation"
  (@animation.done)="onAnimationEvent($event)" #detailForm="ngForm">
  <div class="card-header d-flex justify-content-between align-content-center">
    <h5 class="card-title mb-0">{{title}}</h5>
    <div class="btn-group btn-group-sm">
      <button *ngIf="info.privileges['app_privileges.update'] && editable"
        type="button" class="btn btn-sm btn-outline-primary"
        (click)="save()" [disabled]="!detailForm.valid">
        <i class="fa fa-check"></i> 保存
      </button>
      <button type="button" class="btn btn-sm btn-outline-secondary"
        (click)="goBack()">
        <i class="fa fa-times"></i> 取消
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="form-group" [class.is-valid]="directory.valid"
      [class.is-invalid]="!(directory.valid || directory.pristine)">
      <label class="form-label text-muted" for="directory">目录  <i class="text-danger">*</i> </label>
      <input class="form-control" type="text" id="directory" name="directory"
        placeholder="请输入模型所在目录 ..." [(ngModel)]="model.directory"
        [class.is-invalid]="!(directory.valid || directory.pristine)"
        [class.is-valid]="directory.valid"
        required #directory="ngModel" [disabled]="!editable"
      />
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group" [class.is-valid]="longitude.valid"
          [class.is-invalid]="!(longitude.valid || longitude.pristine)">
          <label class="form-label text-muted" for="longitude">模型经度  <i class="text-danger">*</i> </label>
          <input class="form-control text-right" type="number" step="0.1" id="longitude" name="longitude"
            placeholder="请输入模型经度 ..." [(ngModel)]="model.longitude"
            [class.is-invalid]="!(longitude.valid || longitude.pristine)"
            [class.is-valid]="longitude.valid"
            required #longitude="ngModel" [disabled]="!editable"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group" [class.is-valid]="latitude.valid"
          [class.is-invalid]="!(latitude.valid || latitude.pristine)">
          <label class="form-label text-muted" for="latitude">模型纬度  <i class="text-danger">*</i> </label>
          <input class="form-control text-right" type="number" step="0.1" id="latitude" name="latitude"
            placeholder="请输入模型纬度 ..." [(ngModel)]="model.latitude"
            [class.is-invalid]="!(latitude.valid || latitude.pristine)"
            [class.is-valid]="latitude.valid"
            required #latitude="ngModel" [disabled]="!editable"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group" [class.is-valid]="elevation.valid"
          [class.is-invalid]="!(elevation.valid || elevation.pristine)">
          <label class="form-label text-muted" for="elevation">模型海拔高度  <i class="text-danger">*</i> </label>
          <input class="form-control text-right" type="number" step="0.1" id="elevation" name="elevation"
            placeholder="请输入模型海拔高度 ..." [(ngModel)]="model.elevation"
            [class.is-invalid]="!(elevation.valid || elevation.pristine)"
            [class.is-valid]="elevation.valid"
            required #elevation="ngModel" [disabled]="!editable"
          />
        </div>
      </div>
    </div>
    <div class="form-group" [class.is-valid]="tags.valid"
      [class.is-invalid]="!(tags.valid || tags.pristine)">
      <label class="form-label text-muted" for="tags">标签 </label>
      <input class="form-control" type="text" id="tags" name="tags"
        placeholder="请输入标签 ..." [(ngModel)]="model.tags"
        [class.is-invalid]="!(tags.valid || tags.pristine)"
        [class.is-valid]="tags.valid"
        required #tags="ngModel" [disabled]="!editable"
      />
    </div>
  </div>
  <div *ngIf="info.privileges['app_privileges.update'] && editable"
    class="card-footer d-flex justify-content-between">
    <button type="button" class="btn btn-sm btn-outline-primary"
      (click)="save()" [disabled]="!detailForm.valid">
      <i class="fa fa-check"></i> 保存
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary"
      (click)="goBack()">
      <i class="fa fa-times"></i> 取消
    </button>
  </div>
</form>
