<form *ngIf="(account.info | async) as info" class="card detail"
  [@animation]="animation"
  (@animation.done)="onAnimationEvent($event)" #detailForm="ngForm">
  <div class="card-header d-flex justify-content-between align-content-center">
    <h5 class="card-title mb-0">{{formTitle}}</h5>
    <div class="btn-group btn-group-sm">
      <button *ngIf="info.privileges['app_privileges.update'] && editable"
        type="button" class="btn btn-sm btn-outline-primary"
        (click)="save()" [disabled]="!detailForm.valid">
        <svg-icon path="bi/check"></svg-icon> 保存
      </button>
      <button type="button" class="btn btn-sm btn-outline-secondary"
        (click)="goBack()">
        <svg-icon path="bi/x"></svg-icon> 取消
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label class="form-label text-muted" for="parentId">父节点 <i class="text-danger">*</i> </label>
          <select class="form-select" id="parentId" name="parentId" required
            [(ngModel)]="model.parentId" [disabled]="!editable">
            <option *ngFor="let p of parents" [value]="p.id">{{p.title}}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="mb-3" [class.is-valid]="title.valid"
          [class.is-invalid]="!(title.valid || title.pristine)">
          <label class="form-label text-muted" for="title">标题 <i class="text-danger">*</i> </label>
          <input class="form-control" type="text" id="title" name="title"
            placeholder="请输入标题 ..." [(ngModel)]="model.title"
            [class.is-invalid]="!(title.valid || title.pristine)"
            [class.is-valid]="title.valid"
            required #title="ngModel" [disabled]="!editable"
          />
        </div>
      </div>
      <div class="col">
        <div class="mb-3" [class.is-valid]="sequence.valid"
          [class.is-invalid]="!(sequence.valid || sequence.pristine)">
          <label class="form-label text-muted" for="sequence">顺序 <i class="text-danger">*</i></label>
          <input class="form-control" type="number" id="sequence" name="sequence"
            placeholder="请输入顺序 ..." [(ngModel)]="model.sequence"
            [class.is-invalid]="!(sequence.valid || sequence.pristine)"
            [class.is-valid]="sequence.valid"
            required #sequence="ngModel" [disabled]="!editable"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="mb-3" [class.is-valid]="url.valid"
          [class.is-invalid]="!(url.valid || url.pristine)">
          <label class="form-label text-muted" for="target">导航窗口 <i class="text-danger">*</i> </label>
          <select class="form-select" id="target" name="target"
            [(ngModel)]="model.target" [disabled]="!editable">
            <option *ngFor="let _t of targets" [value]="_t.value">{{_t.name}}</option>
          </select>
        </div>
      </div>
      <div class="col-8">
        <div class="mb-3" [class.is-valid]="url.valid"
          [class.is-invalid]="!(url.valid || url.pristine)">
          <label class="form-label text-muted" for="url">导航地址 <i class="text-danger">*</i> </label>
          <input class="form-control" type="text" id="url" name="url"
            placeholder="请输入导航地址 ..." [(ngModel)]="model.url"
            [class.is-invalid]="!(url.valid || url.pristine)"
            [class.is-valid]="url.valid"
            required #url="ngModel" [disabled]="!editable"
          />
        </div>
      </div>
    </div>
    <div class="mb-3" *ngIf="model.target === '_iframe'">
      <label class="form-label text-muted">内嵌窗口地址 <i class="text-danger">*</i></label>
      <input class="form-control" type="text" id="frame_url" name="frameUrl"
        placeholder="请输入内嵌窗口地址 ..." [(ngModel)]="model.frameUrl"
        [class.is-invalid]="!(frameUrl.valid || frameUrl.pristine)"
        [class.is-valid]="frameUrl.valid"
        required #frameUrl="ngModel" [disabled]="!editable"
        />
    </div>
    <div class="row">
      <div class="col-4">
        <div class="mb-3">
          <label class="form-label text-muted" for="icon">图标 </label>
          <div class="input-group">
            <input class="form-control" type="text" id="icon" name="icon"
              placeholder="请输入图标 ..." [(ngModel)]="model.icon"
              [disabled]="!editable"
            />
            <ng-container *ngIf="editable && info.privileges['app_storages.read_folder_content']">
              <button class="btn btn-outline-secondary" type="button"
                ngbTooltip="从图标库查找图标" [openDelay]="300"
                (click)="showIconDialog()">
                <svg-icon path="bi/search"></svg-icon>
              </button>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="mb-3">
          <label class="form-label text-muted" for="tooltip">提示文字 </label>
          <input class="form-control" type="text" id="tooltip" name="tooltip"
            placeholder="请输入提示文字 ..." [(ngModel)]="model.tooltip"
            #tooltip="ngModel" [disabled]="!editable"
          />
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="isHidden" name="isHidden" [(ngModel)]="model.isHidden" />
        <label class="form-check-label text-muted" for="isHidden">隐藏菜单项</label>
      </div>
    </div>
    <!-- <hr /> -->
    <div class="mb-3">
      <label class="form-label text-muted">菜单角色</label>
      <div class="mt-0">
        <div class="form-check form-check-inline form-switch" *ngFor="let role of vm.roles">
          <input class="form-check-input" type="checkbox" [id]="role.id"
            [name]="role.name" [disabled]="!editable" [value]="role.name"
            [checked]="isRoleChecked(role.name)" (change)="toggleCheckedRole(role.name)" />
          <label class="form-check-label text-muted" [for]="role.id">{{role.description}}</label>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="info.privileges['app_privileges.update'] && editable"
    class="card-footer d-flex justify-content-between">
    <button type="button" class="btn btn-sm btn-outline-primary"
      (click)="save()" [disabled]="!detailForm.valid">
      <svg-icon path="bi/check"></svg-icon> 保存
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary"
      (click)="goBack()">
      <svg-icon path="bi/x"></svg-icon> 取消
    </button>
  </div>
</form>
