@import '../variables';

:host {
  // background-color: #ccc;

  .app-main {
    @include full-width-height();
    @include no-margin-padding();
    overflow: hidden;

    .error-container {
      position: absolute;
      width: 24rem;
      margin-left: -12rem;
      left: 50%;
      z-index: 9999;
    }
  }

}
