<div class="modal-header pb-0">
  <h5 class="modal-title">用户信息</h5>
  <ul class="nav-tabs ms-auto" ngbNav #nav="ngbNav" [(activeId)]="activeTab">
    <li ngbNavItem="userInfo">
      <a ngbNavLink>用户信息</a>
      <ng-template ngbNavContent>
        <app-account-user-info></app-account-user-info>
      </ng-template>
    </li>
    <li ngbNavItem="userTokens">
      <a ngbNavLink>用户凭证</a>
      <ng-template ngbNavContent>
        <app-user-token-list></app-user-token-list>
      </ng-template>
    </li>
  </ul>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body p-0" [ngbNavOutlet]="nav">
</div>
