<form class="card detail" *ngIf="(account.info | async) as info" #detailForm="ngForm"
  [@animation]="animation" (@animation.done)="onAnimationEvent($event)">
  <div class="card-header d-flex justify-content-between align-content-center">
    <h5 class="card-title mb-0">{{title}}</h5>
    <div class="btn-group btn-group-sm">
      <button *ngIf="info.privileges['data_sources.update'] && editable"
        type="button" class="btn btn-sm btn-outline-primary"
        (click)="save()" [disabled]="!detailForm.valid">
        <svg-icon path="bi/check"></svg-icon> 保存
      </button>
      <button type="button" class="btn btn-sm btn-outline-secondary"
        (click)="goBack()">
        <svg-icon path="bi/x"></svg-icon> 取消
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="form-group" [class.is-valid]="name.valid"
      [class.is-invalid]="!(name.valid || name.pristine)">
      <label class="form-label text-muted" for="name">数据源名称  <i class="text-danger">*</i> </label>
      <input class="form-control" type="text" id="name" name="name"
        placeholder="请输入数据源名称 ..." [(ngModel)]="model.name"
        [class.is-invalid]="!(name.valid || name.pristine)"
        [class.is-valid]="name.valid"
        required #name="ngModel" [disabled]="!editable"
      />
    </div>
    <div class="form-group" [class.is-valid]="databaseType.valid"
      [class.is-invalid]="!(databaseType.valid || databaseType.pristine)">
      <label class="form-label text-muted" for="databaseType">数据库类型  <i class="text-danger">*</i> </label>
      <select class="form-control custom-select" type="text" id="databaseType" name="databaseType" [(ngModel)]="model.databaseType"
        [class.is-invalid]="!(databaseType.valid || databaseType.pristine)"
        [class.is-valid]="databaseType.valid"
        required #databaseType="ngModel" [disabled]="!editable">
        <option value="postgis">PostgreSQL + PostGIS</option>
        <option value="postsde">PostgreSQL + SDE</option>
        <option value="mssql">Microsoft SQL Server</option>
        <option value="mysql">MySQL / MariaDB</option>
      </select>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group" [class.is-valid]="serverAddress.valid"
          [class.is-invalid]="!(serverAddress.valid || serverAddress.pristine)">
          <label class="form-label text-muted" for="serverAddress">服务器地址 <i class="text-danger">*</i> </label>
          <input class="form-control" type="text" id="serverAddress" name="serverAddress"
            placeholder="请输入服务器地址 (IP或域名)..." [(ngModel)]="model.serverAddress"
            [class.is-invalid]="!(serverAddress.valid || serverAddress.pristine)"
            [class.is-valid]="serverAddress.valid"
            required #serverAddress="ngModel" [disabled]="!editable"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="form-label text-muted" for="serverPort">端口 </label>
          <input class="form-control text-right" type="number" id="serverPort" name="serverPort"
            placeholder="请输入端口 ..." [(ngModel)]="model.serverPort"
            [disabled]="!editable"
          />
        </div>
      </div>
    </div>
    <div class="form-group" [class.is-valid]="databaseName.valid"
      [class.is-invalid]="!(databaseName.valid || databaseName.pristine)">
      <label class="form-label text-muted" for="databaseName">数据库名称 <i class="text-danger">*</i> </label>
      <input class="form-control" type="text" id="databaseName" name="databaseName"
        placeholder="请输入数据库名称 ..." [(ngModel)]="model.databaseName"
        [class.is-invalid]="!(databaseName.valid || databaseName.pristine)"
        [class.is-valid]="databaseName.valid"
        required #databaseName="ngModel" [disabled]="!editable"
      />
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-label text-muted" for="username">用户名 </label>
          <input class="form-control" type="text" id="username" name="username"
            placeholder="请输入用户名 ..." [(ngModel)]="model.username"
            [disabled]="!editable"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="form-label text-muted" for="password">密码 </label>
          <div class="input-group">
            <input class="form-control" type="text" id="password" name="password"
              placeholder="请输入密码 ..." *ngIf="showPass; else hidenPassTpl" [(ngModel)]="model.password"
              [disabled]="!editable"
            />
            <ng-template #hidenPassTpl>
              <input class="form-control" type="password" id="password" name="password"
                placeholder="请输入密码 ..." [(ngModel)]="model.password"
                [disabled]="!editable"
              />
            </ng-template>
            <div class="input-group-append">
              <button type="button" class="btn btn-outline-secondary" (click)="showPass = !showPass"
                [ngbTooltip]="showPass ? '隐藏密码' : '显示密码'">
                <svg-icon [path]="showPass ? 'bi/eye-slash' : 'bi/eye'"></svg-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label text-muted" for="timeout">连接超时时间（秒） </label>

      <input class="form-control text-right" type="text" id="timeout" name="timeout"
        placeholder="请输入连接超时时间 ..." [(ngModel)]="model.timeout"
        [disabled]="!editable"
      />
    </div>
  </div>
  <div *ngIf="info.privileges['data_sources.update'] && editable"
    class="card-footer d-flex justify-content-between">
    <button type="button" class="btn btn-sm btn-outline-primary"
      (click)="save()" [disabled]="!detailForm.valid">
      <svg-icon path="bi/check"></svg-icon> 保存
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary"
      (click)="goBack()">
      <svg-icon path="bi/x"></svg-icon> 取消
    </button>
  </div>
</form>
