<form class="card detail" *ngIf="(account.info | async) as info" #detailForm="ngForm"
  [@animation]="animation" (@animation.done)="onAnimationEvent($event)">
  <div class="card-header d-flex justify-content-between align-content-center">
    <h5 class="card-title mb-0">{{title}}</h5>
    <div class="btn-group btn-group-sm">
      <button *ngIf="info.privileges['datasources.update'] && editable"
        type="button" class="btn btn-sm btn-outline-primary"
        (click)="save()" [disabled]="!detailForm.valid">
        <svg-icon path="bi/check"></svg-icon> 保存
      </button>
      <button type="button" class="btn btn-sm btn-outline-secondary"
        (click)="goBack()">
        <svg-icon path="bi/x"></svg-icon> 取消
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="form-group" [class.is-valid]="name.valid"
      [class.is-invalid]="!(name.valid || name.pristine)">
      <label class="form-label text-muted" for="name">数据源名称  <i class="text-danger">*</i> </label>
      <input class="form-control" type="text" id="name" name="name"
        placeholder="请输入数据源名称 ..." [(ngModel)]="model.name"
        [class.is-invalid]="!(name.valid || name.pristine)"
        [class.is-valid]="name.valid"
        required #name="ngModel" [disabled]="!editable"
      />
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group" [class.is-valid]="connectionString.valid"
          [class.is-invalid]="!(connectionString.valid || connectionString.pristine)">
          <label class="form-label text-muted" for="connectionString">选择数据库连接 </label>
          <select class="form-control" id="connectionString" name="connectionString"
            required [(ngModel)]="connStr" #connectionString="ngModel"
            [disabled]="!editable"
            [class.is-invalid]="!(name.valid || name.pristine)"
            [class.is-valid]="name.valid">
            <option *ngFor="let str of connStrs" [ngValue]="str">
              {{str.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="col" *ngIf="!!connStr && connStr.databaseType !== 'mysql'">
        <div class="form-group">
          <label class="form-label text-muted" for="schema">架构 </label>
          <input class="form-control" type="text" id="schema" name="schema"
            placeholder="请输入数据表/视图架构 ..." [(ngModel)]="model.schema"
            [disabled]="!editable"
          />
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label text-muted" for="tableName">数据表 <i class="text-danger">*</i> </label>
      <input class="form-control" type="text" id="tableName" name="tableName"
         [(ngModel)]="model.tableName"
         [disabled]="!editable"
      />
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-label text-muted" for="primaryKeyColumn">主键列 <i class="text-danger">*</i> </label>
          <input class="form-control" type="text" id="primaryKeyColumn" name="primaryKeyColumn"
            placeholder="请输入主键列 ..." [(ngModel)]="model.primaryKeyColumn"
            [disabled]="!editable"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="form-label text-muted" for="displayColumn">显示列 <i class="text-danger">*</i> </label>
          <input class="form-control" type="text" id="displayColumn" name="displayColumn"
            placeholder="显示列" [(ngModel)]="model.displayColumn"
            [disabled]="!editable"
          />
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label text-muted" for="presetCriteria">预置过滤条件 </label>
      <input class="form-control" type="text" id="presetCriteria" name="presetCriteria"
        placeholder="请输入预置过滤条件 ..." [(ngModel)]="model.presetCriteria"
        [disabled]="!editable"
      />
    </div>
    <div class="form-group">
      <label class="form-label text-muted" for="defaultOrder">默认排序 </label>
      <input class="form-control" type="text" id="defaultOrder" name="defaultOrder"
        placeholder="请输入默认排序 ..." [(ngModel)]="model.defaultOrder"
        [disabled]="!editable"
      />
    </div>
    <div class="form-group">
      <label class="form-label text-muted" for="geometryColumn">空间列 </label>
      <input class="form-control" type="text" id="geometryColumn" name="geometryColumn"
        placeholder="请输入空间列 ..." [(ngModel)]="model.geometryColumn"
        [disabled]="!editable"
      />
    </div>
  </div>
  <div *ngIf="info.privileges['datasources.update'] && editable"
    class="card-footer d-flex justify-content-between">
    <button type="button" class="btn btn-sm btn-outline-primary"
      (click)="save()" [disabled]="!detailForm.valid">
      <svg-icon path="bi/check"></svg-icon> 保存
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary"
      (click)="goBack()">
      <svg-icon path="bi/x"></svg-icon> 取消
    </button>
  </div>
</form>
