<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">首页</a></li>
    <li class="breadcrumb-item"><a routerLink="/admin">管理</a></li>
    <li class="breadcrumb-item active" aria-current="page">角色</li>
  </ol>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div *ngIf="(account.info | async) as info" class="card">
        <div class="card-header d-flex justify-content-between">
          <h5 class="card-title mb-0">角色</h5>
          <div class="btn-group btn-group-sm">
            <button *ngIf="info.privileges['app_roles.create']" type="button" class="btn btn-outline-primary"
              (click)="showDetail('0', true)">
              <svg-icon path="bi/plus"></svg-icon> 新建角色
            </button>
            <button type="button" class="btn btn-outline-secondary"
              (click)="loadData()">
              <svg-icon path="bi/arrow-repeat"></svg-icon> 刷新
            </button>
          </div>
        </div>
        <form class="p-2 bg-light">
          <div class="row">
            <div class="col-6">
              <div class="row g-0 align-items-center">
                <div class="col-auto text-muted px-2 py-1">全部角色， 共 {{vm.total | async}} 条记录</div>
                <div class="col-auto text-muted px-2">
                  <ng-container *ngIf="vm.loading">
                    <svg-icon path="bi/arrow-repeat" iconClass="bi-spin"></svg-icon> 加载中...
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row g-0">
                <div class="col-6">
                  <!-- <span class="text-muted">其它工具栏</span> -->
                </div>
                <div class="col-6">
                  <!-- <span class="text-muted">其它工具栏</span> -->
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="table-responsive">
          <table class="table table-striped mb-0">
            <thead>
              <tr>
                <th scope="col" class="text-end text-nowrap text-muted table-row-num-col">#</th>
                <th scope="col" class="text-start text-nowrap text-muted">名称</th>
                <th scope="col" class="text-start text-nowrap text-muted">描述</th>
                <th scope="col" class="text-center text-nowrap text-muted">是否默认</th>
                <th scope="col" class="text-center text-nowrap text-muted">是否匿名</th>
                <th scope="col" class="text-end text-nowrap text-muted">用户数</th>
                <th scope="col" class="text-center text-nowrap text-muted table-action-col-4">操作</th>
              </tr>
            </thead>
            <tbody *ngIf="(vm.data | async) as data">
              <tr *ngFor="let item of data; let i = index;">
                <th scope="row" class="text-end text-muted">{{i+1+vm.searchModel.skip}}</th>
                <td class="text-start">{{item.name}}</td>
                <td class="text-start">{{item.description}}</td>
                <td class="text-center">{{item.isDefault ? '是' : '否'}}</td>
                <td class="text-center">{{item.isAnonymous ? '是' : '否'}}</td>
                <td class="text-end"><a [routerLink]="['../users', {roleName: item.name}]">{{item.userCount}}</a></td>
                <td class="text-center">
                  <div class="btn-group btn-group-sm">
                    <button *ngIf="info.privileges['app_roles.read']"
                      class="btn btn-outline-secondary" ngbTooltip="详情"
                      placement="top" [openDelay]="300" container="body"
                      (click)="showDetail(item.id, false)">
                      <svg-icon path="bi/info-square"></svg-icon>
                    </button>
                    <button *ngIf="info.privileges['app_roles.update']"
                      class="btn btn-outline-secondary" ngbTooltip="编辑"
                      placement="top" [openDelay]="300" container="body"
                      (click)="showDetail(item.id, true)">
                      <svg-icon path="bi/pencil-square"></svg-icon>
                    </button>
                    <button *ngIf="info.privileges['app_roles.read_role_privileges']"
                      class="btn btn-outline-secondary" ngbTooltip="角色权限"
                      placement="top" [openDelay]="300" container="body"
                      (click)="showPrivileges(item)">
                      <svg-icon path="bi/shield-lock"></svg-icon>
                    </button>
                    <button *ngIf="info.privileges['app_roles.delete']"
                      class="btn btn-outline-secondary" ngbTooltip="删除"
                      placement="top" [openDelay]="300" container="body"
                      (click)="delete(item.id)"
                      [disabled]="$any(item.userCount) > 0">
                      <svg-icon path="bi/trash"></svg-icon>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-container">
    <router-outlet></router-outlet>
  </div>
</div>
