<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">首页</a></li>
    <li class="breadcrumb-item"><a routerLink="/admin">管理</a></li>
    <li class="breadcrumb-item active" aria-current="page">角色</li>
  </ol>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div *ngIf="(account.info | async) as info" class="card">
        <div class="card-header d-flex justify-content-between">
          <h5 class="card-title mb-0">角色</h5>
          <div class="btn-group btn-group-sm">
            <button *ngIf="info.privileges['app_roles.create']" type="button" class="btn btn-outline-primary"
              (click)="showDetail('0', true)">
              <i class="fa fa-plus"></i> 新建角色
            </button>
            <button type="button" class="btn btn-outline-secondary"
              (click)="loadData()">
              <i class="fa fa-sync"></i> 刷新
            </button>
          </div>
        </div>
        <form class="p-2 bg-light">
          <div class="form-row">
            <div class="col-6">
              <div class="row no-gutters align-items-center">
                <div class="col-auto text-muted px-2 py-1">全部角色， 共 {{vm.total | async}} 条记录</div>
                <div class="col-auto text-muted px-2">
                  <ng-container *ngIf="vm.loading">
                    <i class="fa fa-spin fa-spinner"></i> 加载中...
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row no-gutters">
                <div class="col-6">
                  <!-- <span class="text-muted">其它工具栏</span> -->
                </div>
                <div class="col-6">
                  <!-- <span class="text-muted">其它工具栏</span> -->
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="table-responsive">
          <table class="table table-striped mb-0">
            <thead>
              <tr>
                <th scope="col" class="text-right text-nowrap text-muted">#</th>
                <th scope="col" class="text-left text-nowrap text-muted">名称</th>
                <th scope="col" class="text-left text-nowrap text-muted">描述</th>
                <th scope="col" class="text-center text-nowrap text-muted">是否默认</th>
                <th scope="col" class="text-right text-nowrap text-muted">用户数</th>
                <th scope="col" class="text-center text-nowrap text-muted">操作</th>
              </tr>
            </thead>
            <tbody *ngIf="(vm.data | async) as data">
              <tr *ngFor="let item of data; let i = index;">
                <th scope="row" class="text-right text-muted">{{i+1+vm.searchModel.skip}}</th>
                <td class="text-left">{{item.name}}</td>
                <td class="text-left">{{item.description}}</td>
                <td class="text-center">{{item.isDefault ? '是' : '否'}}</td>
                <td class="text-right">{{item.userCount}}</td>
                <td class="text-center">
                  <div class="btn-group btn-group-sm">
                    <button *ngIf="info.privileges['app_roles.read']"
                      class="btn btn-outline-secondary" ngbTooltip="详情"
                      placement="top" [openDelay]="300"
                      (click)="showDetail(item.id, false)">
                      <i class="fa fa-list-alt"></i>
                    </button>
                    <button *ngIf="info.privileges['app_roles.update']"
                      class="btn btn-outline-secondary" ngbTooltip="编辑"
                      placement="top" [openDelay]="300"
                      (click)="showDetail(item.id, true)">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button *ngIf="info.privileges['app_roles.delete']"
                      class="btn btn-outline-secondary" ngbTooltip="角色用户"
                      placement="top" [openDelay]="300" (click)="showUsers(item.id)"
                      [disabled]="item.userCount > 0">
                      <i class="fa fa-users"></i>
                    </button>
                    <button *ngIf="info.privileges['app_roles.delete']"
                      class="btn btn-outline-secondary" ngbTooltip="角色权限"
                      placement="top" [openDelay]="300" (click)="showPrivileges(item.id)"
                      [disabled]="item.userCount > 0">
                      <i class="fa fa-shield-alt"></i>
                    </button>
                    <button *ngIf="info.privileges['app_roles.delete']"
                      class="btn btn-outline-secondary" ngbTooltip="删除"
                      placement="top" [openDelay]="300" (click)="delete(item.id)"
                      [disabled]="item.userCount > 0">
                      <i class="fa fa-trash-alt"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-container">
    <router-outlet></router-outlet>
  </div>
</div>
