<form class="card detail" *ngIf="(account.info | async) as info" #detailForm="ngForm"
  [@animation]="animation" (@animation.done)="onAnimationEvent($event)">
  <div class="card-header d-flex justify-content-between align-content-center">
    <h5 class="card-title mb-0">{{title}}</h5>
    <div class="btn-group btn-group-sm">
      <button *ngIf="info.privileges['data_services.update'] && editable"
        type="button" class="btn btn-sm btn-outline-primary"
        (click)="save()" [disabled]="!(detailForm.valid && isFieldsValid())">
        <svg-icon path="bi/check"></svg-icon> 保存
      </button>
      <button type="button" class="btn btn-sm btn-outline-secondary"
        (click)="goBack()">
        <svg-icon path="bi/x"></svg-icon> 取消
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="mb-3">
      <label class="form-label text-muted" for="name">名称 <i class="text-danger">*</i> </label>
      <input class="form-control" type="text" id="name" name="name"
        placeholder="请输入数据服务名称 ..." required
        [disabled]="!editable"
        [(ngModel)]="model.name"
        #name="ngModel"
        [class.is-invalid]="!(name.valid || name.pristine)"
        [class.is-valid]="name.valid"
      />
    </div>
    <div class="mb-3">
      <label class="form-label text-muted" for="description">描述 </label>
      <input class="form-control" type="text" id="description" name="description"
        placeholder="请输入数据服务描述 ..."
        [disabled]="!editable"
        [(ngModel)]="model.description"
      />
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <label class="form-label text-muted" for="con">选择数据源 <i class="text-danger">*</i></label>
          <select class="form-select" id="con" name="con" required
            [disabled]="!editable"
            [(ngModel)]="dataSource"
            #con="ngModel"
            [class.is-invalid]="!(con.valid || con.pristine)"
            [class.is-valid]="con.valid"
            (change)="onSelectDataSource()"
            >
            <option *ngFor="let c of dataSources" [ngValue]="c">
              {{c.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="col" *ngIf="!!dataSource && dataSource.databaseType !== 'mysql'">
        <div class="mb-3">
          <label class="form-label text-muted" for="schema">架构 <i class="text-danger">*</i></label>
          <input class="form-control" type="text" id="schema" name="schema"
            placeholder="请输入数据源架构 ..." required
            [disabled]="!editable"
            [(ngModel)]="model.schema"
            #schema="ngModel"
            [class.is-valid]="schema.valid"
            [class.is-invalid]="!(schema.valid || schema.pristine)"
            [ngbTypeahead]="searchSchema" container="body"
            #schemaInstance="ngbTypeahead"
            (focus)="schemaFocus$.next($any($event).target.value)"
            (click)="schemaClick$.next($any($event).target.value)"
            (selectItem)="onSelectSchema($event)"
          />
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label text-muted" for="tableName">数据表 <i class="text-danger">*</i> </label>
      <input class="form-control" type="text" id="tableName" name="tableName"
        placeholder="请输入数据表名称..." required
        [disabled]="!editable"
        [(ngModel)]="table"
        #tableName="ngModel"
        [class.is-valid]="tableName.valid"
        [class.is-invalid]="!(tableName.valid || tableName.pristine)"
        [ngbTypeahead]="searchTable" container="body"
        [inputFormatter]="tableFormatter"
        [resultTemplate]="tableNameTemplate"
        #tableInstance="ngbTypeahead"
        (focus)="tableFocus$.next($any($event).target.value)"
        (click)="tableClick$.next($any($event).target.value)"
        (selectItem)="onSelectTable($event)"
        />
        <ng-template #tableNameTemplate let-r="result" let-t="term">
          <svg-icon class="me-1" [path]="getTableIcon(r.type)"></svg-icon>
          <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
          <span class="text-info ms-2" *ngIf="!!r.description">({{r.description}})</span>
        </ng-template>
    </div>
    <div class="mb-3">
      <label class="form-label text-muted">输出字段配置</label>
      <table class="table table-bordered table-sm">
        <thead>
          <tr>
            <th scope="col" class="text-center text-muted">
              <div class="form-check form-check-inline m-0">
                <input class="form-check-input" type="checkbox"
                  ngbTooltip="全部字段" container="body" [disabled]="!editable"
                  (change)="toggleAllField()"
                  [checked]="isAllFieldChecked()">
              </div>
            </th>
            <th scope="col" class="text-center text-muted">名称</th>
            <th scope="col" class="text-center text-muted">主键<i class="text-danger">*</i></th>
            <th scope="col" class="text-center text-muted">默认显示<i class="text-danger">*</i></th>
            <th scope="col" class="text-center text-muted">可更新</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let col of columns">
            <td class="text-center text-muted">
              <div class="form-check form-check-inline m-0">
                <input class="form-check-input" type="checkbox"
                  (change)="toggleField(col.name)" [disabled]="!editable"
                  [checked]="isFieldChecked(col.name)" />
              </div>
            </td>
            <td class="text-start">
              <span class="text-muted me-1">{{col.name}} ({{col.type}})</span>
              <span class="text-info" *ngIf="!!col.description">{{col.description}}</span>
            </td>
            <td class="text-center text-muted">
              <div class="form-chheck form-check-inline m-0"
                *ngIf="isFieldChecked(col.name)">
                <input class="form-check-input" type="radio" [attr.disabled]="editable ? null : true"
                  name="primaryKeyColumn" [value]="col.name"
                  [(ngModel)]="model.primaryKeyColumn" />
              </div>
            </td>
            <td class="text-center text-muted">
              <div class="form-check form-check-inline"
                *ngIf="isFieldChecked(col.name)">
                <input class="form-check-input" type="radio"
                  name="displayColumn" [value]="col.name" [attr.disabled]="editable ? null : true"
                  [(ngModel)]="model.displayColumn" />
              </div>
            </td>
            <td class="text-center text-muted">
              <div class="form-check form-check-inline"
                *ngIf="isFieldChecked(col.name) && model.primaryKeyColumn !== col.name">
                <input class="form-check-input" type="checkbox"
                  [value]="col.name" [disabled]="!editable"
                  [checked]="isFieldEditable(col.name)"
                  (change)="toggleFieldEditable(col.name)" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mb-3">
      <label class="form-label text-muted" for="presetCriteria">预置过滤条件 </label>
      <input class="form-control" type="text" id="presetCriteria" name="presetCriteria"
        placeholder="请输入预置过滤条件 ..." [(ngModel)]="model.presetCriteria"
        [disabled]="!editable"
      />
    </div>
    <div class="mb-3">
      <label class="form-label text-muted" for="defaultOrder">默认排序 </label>
      <input class="form-control" type="text" id="defaultOrder" name="defaultOrder"
        placeholder="请输入默认排序 ..." [(ngModel)]="model.defaultOrder"
        [disabled]="!editable"
      />
    </div>
    <div class="mb-3">
      <label class="form-label text-muted">授权角色</label>
      <div class="form-text">
        <div class="form-check form-check-inline form-switch" *ngFor="let role of vm.roles">
          <input class="form-check-input" type="checkbox" [id]="role.id"
            [name]="role.name" [disabled]="!editable" [value]="role.name"
            [checked]="isRoleChecked(role.name)" (change)="toggleCheckedRole(role.name)" />
          <label class="form-check-label text-muted" [for]="role.id">{{role.description}}</label>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="info.privileges['data_services.update'] && editable"
    class="card-footer d-flex justify-content-between">
    <button type="button" class="btn btn-sm btn-outline-primary"
      (click)="save()" [disabled]="!(detailForm.valid && isFieldsValid())">
      <svg-icon path="bi/check"></svg-icon> 保存
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary"
      (click)="goBack()">
      <svg-icon path="bi/x"></svg-icon> 取消
    </button>
  </div>
</form>
