:host {
  display: flex;
  flex-direction: column;
  height: 80vh;
}
.nav-tabs {
  border-bottom: none;
}

.modal-body {
  flex: 1;
  overflow-x: auto;
  overflow-y: auto;
}

.modal-body ::ng-deep .tab-pane {
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

