<div class="modal-header pb-0">
  <h5 class="modal-title">{{ds.name}} 数据预览</h5>
  <ul class="nav-tabs ms-auto" ngbNav #nav="ngbNav" [(activeId)]="previewType">
    <li *ngIf="hasPrivilege('data_services.read_data')" ngbNavItem="data">
      <a ngbNavLink>属性数据</a>
      <ng-template ngbNavContent>
        <app-dataservices-preview-data [ds]="ds"></app-dataservices-preview-data>
      </ng-template>
    </li>
    <li *ngIf="!!ds.geometryColumn && hasPrivilege('data_services.read_geojson')" ngbNavItem="geojson">
      <a ngbNavLink>GeoJson</a>
      <ng-template ngbNavContent>
        <app-dataservices-preview-geojson [ds]="ds" (downloadProgress)="updateProgress($event)">
        </app-dataservices-preview-geojson>
      </ng-template>
    </li>
    <li *ngIf="!!ds.geometryColumn && hasPrivilege('data_services.read_featureset')" ngbNavItem="featureset">
      <a ngbNavLink>FeatureSet</a>
      <ng-template ngbNavContent>
        <app-dataservices-preview-featureset [ds]="ds" (downloadProgress)="updateProgress($event)">
        </app-dataservices-preview-featureset>
      </ng-template>
    </li>
    <li *ngIf="!!ds.geometryColumn" ngbNavItem="mapserver">
      <a ngbNavLink>MapServer</a>
      <ng-template ngbNavContent>
        <app-dataservices-preview-mapserver [ds]="ds"></app-dataservices-preview-mapserver>
      </ng-template>
    </li>
  </ul>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body p-1" [ngbNavOutlet]="nav">
</div>
<div class="modal-footer justify-content-start p-1">
  <div class="text-muted" style="font-size: 0.6rem;">
    服务地址：<a [href]="getPreviewUrl()" target="_blank">{{getPreviewUrl()}}</a>
  </div>
  <ngb-progressbar *ngIf="canShowProgress()" class="ms-auto" style="width: 100px;" [showValue]="true"
    type="success" [max]="100" [value]="downloadProgress">
  </ngb-progressbar>
</div>
