<form class="card detail" *ngIf="(account.info | async) as info"
  #detailForm="ngForm"
  [@animation]="animation" (@animation.done)="onAnimationEvent($event)">
  <div class="card-header d-flex justify-content-between align-content-center">
    <h5 class="card-title mb-0">{{title}}</h5>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-sm btn-outline-secondary"
        (click)="goBack()">
        <i class="fa fa-times"></i> 取消
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="form-group" [class.is-valid]="password.valid"
      [class.is-invalid]="!(password.valid || password.pristine)">
      <label class="form-label text-muted" for="password">密码 <i class="text-danger">*</i></label>
      <input class="form-control" type="text" id="password" name="password"
        placeholder="请输入用户密码 ..." [(ngModel)]="model.password"
        [class.is-invalid]="!(password.valid || password.pristine)"
        [class.is-valid]="password.valid"
        required #password="ngModel" [disabled]="!editable" />
    </div>
    <div class="form-group" [class.is-valid]="password2.valid"
      [class.is-invalid]="!(password2.valid || password2.pristine)">
      <label class="form-label text-muted" for="password2">确认密码 <i class="text-danger">*</i></label>
      <input class="form-control" type="text" id="password2" name="password2"
        placeholder="请确认用户密码 ..." [(ngModel)]="model.password2"
        [class.is-invalid]="!(password2.valid || password2.pristine)"
        [class.is-valid]="password2.valid"
        required #password2="ngModel" [disabled]="!editable" />
    </div>
  </div>
</form>
