<form class="card detail" *ngIf="(account.info | async) as info"
  [formGroup]="form" (ngSubmit)="save()"
  [@animation]="animation" (@animation.done)="onAnimationEvent($event)">
  <div class="card-header d-flex justify-content-between align-content-center">
    <h5 class="card-title mb-0">{{title}}</h5>
    <div class="btn-group btn-group-sm">
      <button class="btn btn-outline-primary" type="button"
        *ngIf="info.privileges['app_users.reset_pass']"
        [disabled]="!form.valid" (click)="save()">
        <svg-icon path="bi/check"></svg-icon> 保存
      </button>
      <button class="btn btn-outline-secondary" type="button"
        (click)="goBack()">
        <svg-icon path="bi/x"></svg-icon> 取消
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="mb-3">
      <label class="form-label text-muted" for="password">密码 <i class="text-danger">*</i></label>
      <input class="form-control" type="password" id="password" name="password"
        placeholder="请输入用户密码，至少 8 个字符 ..." formControlName="password" autocomplete="new-password"
        [class.is-invalid]="!(password.valid || password.pristine)"
        [class.is-valid]="password.valid" />
    </div>
    <div class="mb-3">
      <label class="form-label text-muted" for="confirmPassword">确认密码 <i class="text-danger">*</i></label>
      <input class="form-control" type="password" id="confirmPassword" name="confirmPassword"
        placeholder="请确认用户密码 ..." formControlName="confirmPassword" autocomplete="new-password"
        [class.is-invalid]="!(confirmPassword.valid || confirmPassword.pristine)"
        [class.is-valid]="confirmPassword.valid" />
    </div>
  </div>

</form>
