<div class="modal-header">
  <h5 class="modal-title">{{name}}</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
  </button>
</div>
<div class="modal-body p-1">
  <div class="slpk-preview-map border border-darken-1" #mapPreView></div>
  <div class="py-1" style="font-size: .6rem;">
    <span class="text-muted">服务地址：</span>
    <span class="text-primary" style="cursor: pointer;"
      [cdkCopyToClipboard]="getSlpkLayerUrl()"
      ngbTooltip="点击复制服务地址" container="body">
      {{getSlpkLayerUrl()}}
    </span>
  </div>
</div>
