<mat-list>
  <mat-list-item>
    <img mat-list-avatar src="./assets/user.png" />
    <span mat-line [matMenuTriggerFor]="userMenu">{{(accountSvc.info | async)?.userName}}</span>
    <button mat-icon-button (click)="toggleDrawer()">
      <mat-icon>chevron_left</mat-icon>
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logout()">注销</button>
</mat-menu>
<mat-nav-list>
  <a mat-list-item *ngFor="let item of vm.menuItems | async"
    (click)="toggleDrawer()" [routerLink]="item.link">
    <mat-icon class="nav-item-icon">{{item.icon}}</mat-icon>
    <span>{{item.text}}</span>
  </a>
</mat-nav-list>
