<div class="container mt-3 mb-5">
  <div class="row g-0">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h5 class="card-title mb-0">我的凭证</h5>
        <div class="btn-group btn-group-sm">
          <button class="btn btn-outline-primary" type="button">
            <svg-icon path="bi/plus"></svg-icon> 新建凭证
          </button>
          <button type="button" class="btn btn-outline-secondary" (click)="vm.loadTokens()">
            <svg-icon path="bi/arrow-repeat"></svg-icon> 刷新
          </button>
        </div>
      </div>
      <form class="p-2 bg-light">
        <div class="row">
          <div class="col-6">
            <ng-container *ngIf="vm.loading;else tokenCountTpl;">
              <svg-icon path="bi/arrow-repeat" iconClass="bi-spin"></svg-icon> 加载中...
            </ng-container>
            <ng-template #tokenCountTpl>
              <div class="text-muted">全部凭证，共 {{vm.total}} 条记录。</div>
            </ng-template>
          </div>
          <div class="offset-4 col-2 d-flex justify-content-end">
            <div class="input-group input-group-sm">
              <input class="form-control" name="keywords" type="text" placeholder="输入关键字进行搜索" />
              <button class="btn btn-sm btn-outline-secondary" type="button">
                <svg-icon path="bi/x"></svg-icon>
              </button>
            </div>
          </div>
        </div>
      </form>
      <div class="table-responsive">
        <table class="table table-striped mb-0">
          <thead>
            <tr>
              <th scope="col" class="text-end text-nowrap text-muted">#</th>
              <th scope="col" class="text-start text-nowrap text-muted">名称</th>
              <th scope="col" class="text-center text-nowrap text-muted">凭证值</th>
              <th scope="col" class="text-end text-nowrap text-muted">权限</th>
              <th scope="col" class="text-end text-nowrap text-muted">代表的角色</th>
              <th scope="col" class="text-end text-nowrap text-muted">允许的地址</th>
              <th scope="col" class="text-center text-nowrap text-muted">更新时间</th>
              <th scope="col" class="text-center text-nowrap text-muted">过期时间</th>
              <th scope="col" class="text-center text-nowrap text-muted">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let token of vm.tokens;let i = index;">
              <th scope="row" class="text-end text-muted">{{i+1}}</th>
              <td class='text-start'>{{token.name}}</td>
              <td class='text-center'>{{token.value}}</td>
              <td class='text-end'>{{token.privileges?.length}}</td>
              <td class='text-end'>{{token.roles?.length}}</td>
              <td class='text-end'>{{token.urls?.length}}</td>
              <td class='text-center'>{{token.updateTime | date:'yyyy-MM-dd'}}</td>
              <td class='text-center' [class.text-danger]="isExpires(token.expiresAt)">{{token.expiresAt | date:'yyyy-MM-dd'}}</td>
              <td class="text-center">
                <div class="btn-group btn-group-sm">
                  <button class="btn btn-outline-secondary"
                    ngbTooltip="编辑" placement="top" [openDelay]="300" container="body"
                    (click)="showDetail(token.id)"
                  >
                    <svg-icon path="bi/pencil-square"></svg-icon>
                  </button>
                  <button class="btn btn-outline-secondary"
                    ngbTooltip="删除" placement="top" [openDelay]="300" container="body"
                    (click)="deleteToken(token.id)"
                  >
                    <svg-icon path="bi/trash"></svg-icon>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
