:host {
  display: block;
}

.detail-container {
  position: absolute;
  top: var(--app-navbar-height);
  right: 0;
  height: calc(100vh - var(--app-navbar-height));
  bottom: 0;
  z-index: var(--app-detail-zIndex);
}
