<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.connection_string">server=127.0.0.1;port=54321;database=net_core_app;user id=postgres;password=aJv6YoG0CkM9YdqP;minimum pool size=10;maximum pool size=10;timeout=30;application name=NetCoreApp</property>
    <property name="dialect">NHibernate.Extensions.NpgSql.NpgSqlDialect,NHibernate.Extensions.NpgSql</property>
    <property name="connection.driver_class">NHibernate.Extensions.NpgSql.NpgSqlDriver,NHibernate.Extensions.NpgSql</property>
    <property name="adonet.batch_size">10</property>
    <property name="default_batch_fetch_size">10</property>
  </session-factory>
</hibernate-configuration>
