<form *ngIf="(account.info | async) as info" class="card detail"
  [@animation]="animation" (@animation.done)="onAnimationEvent($event)" #detailForm="ngForm">
  <div class="card-header d-flex justify-content-between align-content-center">
    <h5 class="card-title mb-0">{{title}}</h5>
    <div class="btn-group btn-group-sm">
      <button *ngIf="info.privileges['tilemaps.update'] && editable"
        type="button" class="btn btn-sm btn-outline-primary"
        (click)="save()" [disabled]="!detailForm.valid">
        <svg-icon path="bi/check"></svg-icon> 保存
      </button>
      <button type="button" class="btn btn-sm btn-outline-secondary"
        (click)="goBack()">
        <svg-icon path="bi/x"></svg-icon> 取消
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="form-group" [class.is-valid]="name.valid"
          [class.is-invalid]="!(name.valid || name.pristine)">
          <label class="form-label text-muted" for="name">切片地图名称  <i class="text-danger">*</i> </label>
          <input class="form-control" type="text" id="name" name="name"
            placeholder="请输入切片地图名称 ..." [(ngModel)]="model.name"
            [class.is-invalid]="!(name.valid || name.pristine)"
            [class.is-valid]="name.valid"
            required #name="ngModel" [disabled]="!editable"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group" [class.is-valid]="contentType.valid"
          [class.is-invalid]="!(contentType.valid || contentType.pristine)">
          <label class="form-label text-muted" for="contentType">内容类型  <i class="text-danger">*</i> </label>
          <input class="form-control" type="text" id="contentType" name="contentType"
            placeholder="请输入内容类型 ..." [(ngModel)]="model.contentType"
            [class.is-invalid]="!(contentType.valid || contentType.pristine)"
            [class.is-valid]="contentType.valid"
            required #contentType="ngModel" [disabled]="!editable"
          />
        </div>
      </div>
    </div>
    <div class="form-group" [class.is-valid]="cacheDirectory.valid"
      [class.is-invalid]="!(cacheDirectory.valid || cacheDirectory.pristine)">
      <label class="form-label text-muted" for="cacheDirectory">缓存目录  <i class="text-danger">*</i> </label>
      <input class="form-control" type="text" id="cacheDirectory" name="cacheDirectory"
        placeholder="请输入缓存目录 ..." [(ngModel)]="model.cacheDirectory"
        [class.is-invalid]="!(cacheDirectory.valid || cacheDirectory.pristine)"
        [class.is-valid]="cacheDirectory.valid"
        required #cacheDirectory="ngModel" [disabled]="!editable"
      />
    </div>
    <div class="form-group" [class.is-valid]="mapTileInfoPath.valid"
      [class.is-invalid]="!(mapTileInfoPath.valid || mapTileInfoPath.pristine)">
      <label class="form-label text-muted" for="mapTileInfoPath">切片信息路径  <i class="text-danger">*</i> </label>
      <input class="form-control" type="text" id="mapTileInfoPath" name="mapTileInfoPath"
        placeholder="请输入切片信息路径 ..." [(ngModel)]="model.mapTileInfoPath"
        [class.is-invalid]="!(mapTileInfoPath.valid || mapTileInfoPath.pristine)"
        [class.is-valid]="mapTileInfoPath.valid"
        required #mapTileInfoPath="ngModel" [disabled]="!editable"
      />
    </div>
    <div class="row">
      <div class="col-auto">
        <div class="form-group mb-1">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input"
              id="isBundled" name="isBundled"
              [(ngModel)]="model.isBundled" [disabled]="!editable">
            <label class="custom-control-label text-muted"
              for="isBundled">
              紧凑格式
            </label>
          </div>
        </div>
      </div>
      <div class="col-auto" *ngIf="!editable">
        <div class="form-group mb-1">
          <div class="form-control-plaintext p-0">{{model.createdAt | date:'yyyy年M月d日'}}创建，{{model.updatedAt | date:'yyyy年M月d日'}}更新。</div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="info.privileges['tilemaps.update'] && editable"
    class="card-footer d-flex justify-content-between">
    <button type="button" class="btn btn-sm btn-outline-primary"
      (click)="save()" [disabled]="!detailForm.valid">
      <svg-icon path="bi/check"></svg-icon> 保存
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary"
      (click)="goBack()">
      <svg-icon path="bi/x"></svg-icon> 取消
    </button>
  </div>
</form>
