<form class="card detail" #detailForm="ngForm">
  <div class="card-header d-flex justify-content-between align-content-center">
    <h5 class="card-title mb-0">{{title}}</h5>
    <div class="btn-group btn-group-sm">
      <button *ngIf="editable" type="button" class="btn btn-sm btn-outline-primary"
        (click)="save()" [disabled]="!detailForm.valid">
        <svg-icon path="bi/check"></svg-icon> 保存
      </button>
      <button type="button" class="btn btn-sm btn-outline-secondary"
        (click)="cancel()">
        <svg-icon path="bi/x"></svg-icon> 取消
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="mb-3" [class.is-valid]="name.valid"
      [class.is-invalid]="!(name.valid || name.pristine)">
      <label class="form-label text-muted" for="name">角色名称 <i class="text-danger">*</i></label>
      <input class="form-control" type="text" id="name" name="name"
        placeholder="请输入角色名称 ..." [(ngModel)]="model.name"
        [class.is-invalid]="!(name.valid || name.pristine)"
        [class.is-valid]="name.valid"
        required #name="ngModel" [disabled]="!editable || id !=='0'"
      />
    </div>
    <div class="mb-3" [class.is-valid]="description.valid"
      [class.is-invalid]="!(description.valid || description.pristine)">
      <label class="form-label text-muted" for="description">角色描述 <i class="text-danger">*</i></label>
      <input class="form-control" type="text" id="description" name="description"
        placeholder="请输入角色描述 ..." [(ngModel)]="model.description"
        [class.is-invalid]="!(description.valid || description.pristine)"
        [class.is-valid]="description.valid"
        required #description="ngModel" [disabled]="!editable"
      />
    </div>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <div class="form-check form-switch">
            <input type="checkbox" class="form-check-input"
              id="isDefault" name="isDefault"
              [(ngModel)]="model.isDefault" [disabled]="!editable">
            <label class="form-check-label text-muted"
              for="isDefault">
              是否默认
            </label>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <div class="form-check form-switch">
            <input type="checkbox" class="form-check-input"
              id="isAnonymous" name="isAnonymous"
              [(ngModel)]="model.isAnonymous" [disabled]="!editable">
            <label class="form-check-label text-muted"
              for="isAnonymous">
              是否匿名
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="editable" class="card-footer d-flex justify-content-between">
    <button type="button" class="btn btn-sm btn-outline-primary"
      (click)="save()" [disabled]="!detailForm.valid">
      <svg-icon path="bi/check"></svg-icon> 保存
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="cancel()">
      <svg-icon path="bi/x"></svg-icon> 取消
    </button>
  </div>
</form>
