<a class="nav-link" routerLinkActive="active" [routerLink]="node.url">
  <i [class]="iconClasses"></i>
  <span class="ml-1" *ngIf="!sidebarCollapsed">{{node.title}}</span>
</a>

<ul class="nav-link-subitems" *ngIf="node.children || sidebarCollapsed"
  [class.sidebar-collapsed]="sidebarCollapsed">
  <ng-container *ngIf="sidebarCollapsed">
    <li>
      <a class="nav-sublink" [routerLink]="node.url" routerLinkActive="active">
        {{node.title}}
      </a>
    </li>
  </ng-container>
  <ng-container *ngIf="node.children">
    <li class="divider" *ngIf="sidebarCollapsed"></li>
    <li *ngFor="let child of node.children">
      <a class="nav-sublink" [routerLink]="child.url" routerLinkActive="active">
        {{child.title}}
      </a>
    </li>
  </ng-container>
</ul>
