<a class="nav-link" *ngIf="navigation.isRouterLink(node);else httpLinkTpl" routerLinkActive="active" [routerLink]="node.url">
  <svg-icon class="nav-icon ml-2" [path]="node.icon"></svg-icon>
  <span class="ml-1" *ngIf="!sidebarCollapsed">{{node.title}}</span>
</a>
<ng-template #httpLinkTpl>
  <a class="nav-link" [href]="node.url" [target]="node.target">
    <svg-icon class="nav-icon ml-2" [path]="node.icon"></svg-icon>
    <span class="ml-1" *ngIf="!sidebarCollapsed">{{node.title}}</span>
  </a>
</ng-template>

<ul class="nav-link-subitems" *ngIf="(node.children && node.children.length > 0) || sidebarCollapsed"
  [class.sidebar-collapsed]="sidebarCollapsed">
  <ng-container *ngIf="sidebarCollapsed">
    <li>
      <a class="nav-sublink" *ngIf="navigation.isRouterLink(node);else httpLinkPopupTpl"
        [routerLink]="node.url" routerLinkActive="active">
        {{node.title}}
      </a>
      <ng-template #httpLinkPopupTpl>
        <a class="nav-sublink" [href]="node.url" [target]="node.target">{{node.title}}</a>
      </ng-template>
    </li>
  </ng-container>
  <ng-container *ngIf="node.children">
    <li class="divider" *ngIf="sidebarCollapsed"></li>
    <li *ngFor="let child of node.children">
      <a class="nav-sublink" [routerLink]="child.url" routerLinkActive="active">
        {{child.title}}
      </a>
    </li>
  </ng-container>
</ul>
