@import "../../../variables";

.nav-link {
  display: flex;
  align-items: center;
  color: $text-muted;
  white-space: nowrap;
  overflow: hidden;
  height: 48px;

  &.active {
    font-weight: $font-weight-bold;
    background-color: $gray-200;
    box-shadow: inset 4px 0 0 $gray-600;
  }

  &:hover {
    background-color: $gray-200;
  }

  .nav-icon {
    line-height: 24px;
    width: 24px !important;
    height: 24px !important;
    text-align: center;
  }

  > span {
    white-space: nowrap;
    overflow: hidden;
  }

}
