<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">首页</a></li>
    <li class="breadcrumb-item"><a routerLink="/admin">管理</a></li>
    <li class="breadcrumb-item active" aria-current="page">审计日志</li>
  </ol>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h5 class="card-title mb-0">审计日志</h5>
          <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-outline-secondary"
              (click)="this.vm.search()">
              <i class="fa fa-sync"></i> 刷新
            </button>
          </div>
        </div>
        <form class="p-2 bg-light">
          <div class="form-row">
            <div class="col-6">
              <div class="row no-gutters align-items-center">
                <label for="pageSize" class="col-auto col-form-label col-form-label-sm">
                  显示：
                </label>
                <div class="col-auto">
                  <select id="pageSize" name="pageSize" class="form-control form-control-sm"
                    [(ngModel)]="vm.searchModel.take"
                    (change)="onPageSizeChange($event)">
                    <option [value]="10">10</option>
                    <option [value]="25">25</option>
                    <option [value]="50">50</option>
                    <option [value]="100">100</option>
                  </select>
                </div>
                <div class="col-auto text-muted px-2">条记录</div>
                <div class="col-auto text-muted px-2">
                  <ng-container *ngIf="vm.loading">
                    <i class="fa fa-spin fa-spinner"></i> 加载中...
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row no-gutters">
                <div class="col-4"></div>
                <div class="col pr-2">
                  <div class="row no-gutters">
                    <label for="requestDate" class="col-auto col-form-label col-form-label-sm">日期：</label>
                    <div class="col">
                      <div class="input-group input-group-sm">
                        <input type="text" class="form-control form-control-sm"
                          name="requestDate" id="requestDate" placeholder="yyyy-mm-dd"
                          ngbDatepicker #d="ngbDatepicker"
                          [(ngModel)]="vm.searchDate"
                          [maxDate]="maxDate"
                          (dateSelect)="onSelectDate($event)">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" type="button"
                            (click)="d.toggle()">
                            <i class="fa fa-calendar-day"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="input-group input-group-sm">
                    <input class="form-control form-control-sm" type="text"
                      placeholder="用户名搜索" name="userName"
                      [(ngModel)]="vm.searchModel.userName"
                      (keyup.enter)="onUserNameChanged()">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button"
                        (click)="onUserNameChanged()">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="table-responsive">
          <table class="table table-striped mb-0">
            <thead>
              <tr>
                <th scope="col" class="text-center text-nowrap text-muted border-left-0">#</th>
                <th scope="col" class="text-center text-nowrap text-muted">IP地址</th>
                <th scope="col" class="text-center text-nowrap text-muted">请求地址</th>
                <th scope="col" class="text-center text-nowrap text-muted">请求方法</th>
                <th scope="col" class="text-center text-nowrap text-muted">用户名</th>
                <th scope="col" class="text-center text-nowrap text-muted">开始时间</th>
                <th scope="col" class="text-center text-nowrap text-muted">耗时</th>
                <th scope="col" class="text-center text-nowrap text-muted">响应代码</th>
                <th scope="col" class="text-center text-nowrap text-muted">控制器</th>
                <th scope="col" class="text-center text-nowrap text-muted">动作名称</th>
                <th scope="col" class="text-center text-nowrap text-muted">说明</th>
              </tr>
            </thead>
            <tbody *ngIf="(vm.data | async) as data">
              <tr *ngFor="let item of data; let i = index;">
                <th scope="row" class="text-right text-muted">{{i+1+vm.searchModel.skip}}</th>
                <td class="text-left">{{item.ip}}</td>
                <td class="text-left">{{item.requestPath}}</td>
                <td [class]="getRequestMethodClasses(item.requestMethod)">{{item.requestMethod}}</td>
                <td class="text-center">{{item.userName}}</td>
                <td class="text-center">{{item.startAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td [class]="getDurationClasses(item.duration)">{{item.duration}}</td>
                <td [class]="getResponseCodeClasses(item.responseCode)">{{item.responseCode}}</td>
                <td class="text-left">{{item.controllerName}}</td>
                <td class="text-left">{{item.actionName}}</td>
                <td class="text-left">{{item.description}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <div *ngIf="(vm.data | async) as data" class="row no-gutters">
            <div class="col-6 d-flex align-items-center">
              <div [class]="data.length > 0 ? 'text-muted' : 'text-warning'">
                <ng-container *ngIf="data.length > 0;else emptyTpl">
                  显示 {{vm.total | async}} 条记录中的第 {{vm.searchModel.skip + 1}} 至 {{vm.searchModel.skip + data.length}} 条
                </ng-container>
                <ng-template #emptyTpl>无数据！</ng-template>
              </div>
            </div>
            <div class="col-6">
              <ngb-pagination class="d-flex justify-content-end"
                *ngIf="(vm.total | async) > data.length"
                size="sm"
                [collectionSize]="vm.total | async"
                [page]="(vm.searchModel.skip / vm.searchModel.take) + 1"
                [pageSize]="vm.searchModel.take"
                [maxSize]="5"
                [rotate]="true"
                [boundaryLinks]="true"
                [ellipses]="true"
                (pageChange)="onPageChange($event)">
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
