@import '../../../../variables';

:host {
  @include full-width-height();
  @include no-margin-padding();
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--bs-light);

  ngb-pagination ::ng-deep ul.pagination {
    margin-bottom: 0 !important;
  }
}
