<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">首页</a></li>
    <li class="breadcrumb-item active" aria-current="page">数据</li>
  </ol>
</nav>

<div class="container-fluid">
  <div class="row no-gutters" *ngIf="(account.info | async) as info">
    <div class="col-md-6 col-lg-3" *ngIf="info.privileges['tilemaps.read']">
      <div class="card m-2">
        <div class="card-body">
          <h5 class="card-title">
            <a class="card-link" routerLink="../tilemaps">切片地图</a>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3" *ngIf="info.privileges['vectortiles.read']">
      <div class="card m-2">
        <div class="card-body">
          <h5 class="card-title">
            <a class="card-link" routerLink="../vectortiles">矢量切片包</a>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3" *ngIf="info.privileges['slpks.read']">
      <div class="card m-2">
        <div class="card-body">
          <h5 class="card-title">
            <a class="card-link" routerLink="../slpks">航拍模型</a>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3" *ngIf="info.privileges['connections.read']">
      <div class="card m-2">
        <div class="card-body">
          <h5 class="card-title">
            <a class="card-link" routerLink="../connections">数据库连接</a>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3" *ngIf="info.privileges['datasources.read']">
      <div class="card m-2">
        <div class="card-body">
          <h5 class="card-title">
            <a class="card-link" routerLink="../datasources">数据源</a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
