<div class="container mt-3 mb-5">
  <div class="row">
    <div class="col-2 text-end text-muted">
      账户信息
    </div>
    <form class="col-8" #detailForm="ngForm">
      <div class="row mb-3">
        <div class="col">
          <label class="form-label text-muted" for="surname">姓氏 <i class="text-danger">*</i></label>
          <input class="form-control" type="text" id="surname" name="surname"
            placeholder="请输入用户姓氏 ..." [(ngModel)]="user.surname"
            [class.is-invalid]="!(surname.valid || surname.pristine)"
            [class.is-valid]="surname.valid"
            required #surname="ngModel" />
        </div>
        <div class="col">
          <label class="form-label text-muted" for="givenName">名称 <i class="text-danger">*</i></label>
          <input class="form-control" type="text" id="givenName" name="givenName"
            placeholder="请输入用户名称 ..." [(ngModel)]="user.givenName"
            [class.is-invalid]="!(givenName.valid || givenName.pristine)"
            [class.is-valid]="givenName.valid"
            required #givenName="ngModel" />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label class="form-label text-muted" for="email">电子邮箱 <i class="text-danger">*</i></label>
          <input class="form-control" type="text" id="email" name="email"
            placeholder="请输入用户电子邮箱 ..." [(ngModel)]="user.email"
            [class.is-invalid]="!(email.valid || email.pristine)"
            [class.is-valid]="email.valid"
            required #email="ngModel" />
        </div>
        <div class="col">
          <label class="form-label text-muted" for="phoneNumber">电话号码 <i class="text-danger">*</i></label>
          <input class="form-control" type="text" id="phoneNumber" name="phoneNumber"
            placeholder="请输入用户电话号码 ..." [(ngModel)]="user.phoneNumber"
            [class.is-invalid]="!(phoneNumber.valid || phoneNumber.pristine)"
            [class.is-valid]="phoneNumber.valid"
            required #phoneNumber="ngModel" />
        </div>
      </div>
      <hr />
      <div class="row mb-3">
        <div class="col">
          <label class="form-label text-muted" for="dateOfBirth">出生日期</label>
          <div class="input-group">
            <input class="form-control" type="text" id="dateOfBirth" name="dateOfBirth"
              placeholder="请选择出生日期 ..." [(ngModel)]="dob"
              ngbDatepicker container="body" #dp="ngbDatepicker"
              #dateOfBirth="ngModel" />
            <button class="btn btn-outline-secondary calendar"
              (click)="dp.toggle()">
              <svg-icon path="bi/calendar3"></svg-icon>
            </button>
          </div>
        </div>
        <div class="col">
          <label class="form-label text-muted" for="gender">性别</label>
          <div class="form-control-plaintext">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="gender1" value="保密"
                [(ngModel)]="user.gender">
              <label for="gender1" class="form-check-label">保密</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="gender2" value="男"
                [(ngModel)]="user.gender">
              <label for="gender2" class="form-check-label">男</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="gender3" value="女"
                [(ngModel)]="user.gender">
              <label for="gender3" class="form-check-label">女</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label class="form-label text-muted" for="streetAddress">地址</label>
          <input class="form-control" type="text" id="streetAddress" name="streetAddress"
            placeholder="请输入用户地址 ..." [(ngModel)]="user.streetAddress"
          />
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-end">
          <div class="me-auto" *ngIf="loading">
            <svg-icon path="bi/arrow-repeat" iconClass="bi-spin"></svg-icon>
            {{loadingMessage}}
          </div>
          <button class="btn btn-sm btn-outline-primary" type="button"
            (click)="saveUser()" [disabled]="!detailForm.valid || loading">
            <svg-icon path="bi/check"></svg-icon> 保存
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div class="col-2 text-end text-muted p-3">
      修改密码
    </div>
    <form class="mt-3 col-8" [formGroup]="pwdForm">
      <div class="row mb-3">
        <div class="col">
          <label class="form-label text-muted" for="currentPassword">当前密码 <i class="text-danger">*</i></label>
          <input class="form-control" type="password" id="currentPassword" name="currentPassword"
            placeholder="请输入当前密码" required
            formControlName="currentPassword"
            [class.is-valid]="currentPassword.valid"
            [class.is-invalid]="!(currentPassword.valid || currentPassword.pristine)"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label class="form-label text-muted" for="newPassword">新密码 <i class="text-danger">*</i></label>
          <input class="form-control" type="password" id="newPassword" name="newPassword"
            placeholder="请输入新密码" required
            formControlName="newPassword"
            [class.is-valid]="newPassword.valid"
            [class.is-invalid]="!(newPassword.valid || newPassword.pristine)"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label class="form-label text-muted" for="confirmPassword">确认密码 <i class="text-danger">*</i></label>
          <input class="form-control" type="password" id="confirmPassword" name="confirmPassword"
            placeholder="请再输入一次新密码以进行确认" required
            formControlName="confirmPassword"
            [class.is-valid]="confirmPassword.valid"
            [class.is-invalid]="!(confirmPassword.valid || confirmPassword.pristine)"
          />
        </div>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-end">
          <div class="me-auto" *ngIf="updatingPwd">
            <svg-icon path="bi/arrow-repeat" iconClass="bi-spin"></svg-icon>
            正在修改密码 ...
          </div>
          <button class="btn btn-sm btn-outline-primary" type="button"
            (click)="changePassword()" [disabled]="!pwdForm.valid || updatingPwd">
            <svg-icon path="bi/check"></svg-icon> 保存
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
