<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">首页</a></li>
    <li class="breadcrumb-item active" aria-current="page">管理</li>
  </ol>
</nav>

<div class="container-fluid">
  <div class="row g-0" *ngIf="(navigation.sidebarNodes | async) as nodes">
    <div class="col-md-6 col-lg-3" *ngFor="let node of nodes">
      <div class="card m-2">
        <div class="card-body">
          <h5 class="card-title">
            <a class="card-link" [routerLink]="node.url">{{node.title}}</a>
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
