<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="log/log" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="_yyyy-MM-dd.\t\x\t" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <staticLogFileName value="false"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger %message %newline" />
    </layout>
  </appender>
  <appender name="ConsoleAppender" type="log4net.Appender.AnsiColorTerminalAppender">
    <mapping>
      <level value="ERROR" />
      <foreColor value="White" />
      <backColor value="Red" />
      <attributes value="Bright,Underscore" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger %message %newline" />
    </layout>
  </appender>
  <root>
    <level value="ERROR" />
    <!-- 日志等级，可以设置为 ERROR （只查看错误信息）或 INFO （查看调用信息）设置为 INFO 时，日志量很大，建议调试时打开，调试完毕设回 ERROR -->
    <appender-ref ref="ConsoleAppender" />
  </root>
  <logger name="Microsoft.Hosting.Lifetime">
    <level value="INFO" />
  </logger>
  <logger name="Beginor.GisHub.Entry.Startup">
    <level value="INFO" />
  </logger>
  <logger name="Beginor.GisHub.DataServices.PostGIS.PostGISDataSourceReader">
    <level value="INFO" />
  </logger>
  <logger name="Microsoft.AspNetCore.HttpOverrides.ForwardedHeadersMiddleware">
    <level value="INFO" />
  </logger>
</log4net>
