@import "../../../variables";


:host {
  background-color: $light;
  display: flex;

  .sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-right: $border-width solid $border-color !important;
    width: 220px;

    .sidebar-body {
      flex: 1;
      overflow: auto;
    }

    .sidebar-toggler {
      cursor: pointer;
      height: 48px;
      display: flex;
      align-items: center;

      .collapse-text {
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
