@import "../../../variables";

:host {
  background-color: $light;
  display: flex;
  flex-direction: column;
  border-right: $border-width solid $border-color !important;
  // overflow: hidden;

  .sidebar-body {
    flex: 1;
    display: block;
    // overflow-y: auto;
    width: var(--nav-sidebar-width);
  }

  .sidebar-toggler {
    cursor: pointer;
    height: var(--nav-sidebar-item-height);
    display: flex;
    align-items: center;

    .collapse-text {
      white-space: nowrap;
      overflow: hidden;
    }
  }

}
