<ng-container *ngIf="navigation.sidebarNodes | async as nodes">
  <div class="sidebar-body"
    [@status]="status" (@status.done)="onAnimationDone($event)"
    (@status.start)="onAnimationStart($event)">
    <app-nav-item *ngFor="let node of nodes" [node]="node"
      [sidebarCollapsed]="collapsed">
    </app-nav-item>
  </div>
  <div class="sidebar-toggler border-top p-1" (click)="toggle()"
    [ngbTooltip]="collapsed ? '打开侧边栏' : null" [openDelay]="500" placement="right"
    container="body">
    <ng-container *ngIf="collapsed; else expandTpl">
      <i class="ml-2" svgIcon path="bi/chevron-double-right"></i>
    </ng-container>
    <ng-template #expandTpl>
      <i class="ml-2" svgIcon path="bi/chevron-double-left"></i>
      <span class="collapse-text ml-1" >收起侧边栏</span>
    </ng-template>
  </div>
</ng-container>
