:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.page-body {
  flex: 1;
  overflow-y: auto;
}

.page-body mat-card {
  flex: 1 1 auto;
  margin: 32px;
}

.page-body mat-card.left {
  margin-right: 16px;
}

.page-body mat-card.right {
  margin-left: 16px;
}
