:host {
  display: block;
  width: calc(100vw - var(--nav-sidebar-width));
  height: 100%;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.detail {
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px 0px;
  background-color: var(--bs-light);
}

.card-body {
  overflow-y: auto;
}
.statement-editor {
  flex: 1;
}
.params-and-cols, .debug-control {
  flex: 1;
  overflow-y: auto;
}
