<form class="card detail" *ngIf="(account.info | async) as info" #detailForm="ngForm"
  [@animation]="animation" (@animation.done)="onAnimationEvent($event)">
  <div class="card-header d-flex justify-content-start align-content-center">
    <h5 class="card-title mb-0">{{title}}</h5>

    <div class="btn-group btn-group-sm ms-auto me-5" *ngIf="canDoTest()">
      <button class="btn" type="button"
        [ngClass]="{ 'btn-outline-danger': !testing, 'btn-danger': testing }"
        (click)="testing = !testing">
        <svg-icon [path]="testing ? 'bi/stop' : 'bi/play'"></svg-icon> 测试
      </button>
    </div>

    <div class="btn-group btn-group-sm">
      <button class="btn btn-outline-info" type="button" [disabled]="updating"
        (click)="loadData()">
        <svg-icon path="bi/arrow-repeat"></svg-icon> 刷新
      </button>
      <button *ngIf="info.privileges['data_apis.update']"
        type="button" class="btn btn-sm btn-outline-primary"
        (click)="save()" [disabled]="updating">
        <svg-icon path="bi/check"></svg-icon> 保存
      </button>
      <button type="button" class="btn btn-sm btn-outline-dark"
        (click)="goBack()">
        <svg-icon path="bi/x"></svg-icon> 关闭
      </button>
    </div>
  </div>
  <div class="card-body d-flex flex-row px-1">
    <iframe class="statement-editor" #statementEditor [src]="codeEditorUrl" (load)="loadStatement()">
    </iframe>
    <app-dataapi-debug class="debug-control px-1"
      *ngIf="testing;else paramColsTpl"
      [parameters]="model.parameters || []"
      [id]="model.id"
      ></app-dataapi-debug>
    <ng-template #paramColsTpl>
      <app-dataapi-param-cols class="params-and-cols px-1"
        [parameters]="model.parameters || []" [columns]="model.columns || []">
        <button class="btn btn-sm btn-outline-secondary" type="button"
          (click)="getColumns()" [disabled]="updatingColumns">
          <svg-icon path="bi/lightning"></svg-icon> 刷新输出字段
        </button>
      </app-dataapi-param-cols>
    </ng-template>
  </div>
  <div *ngIf="info.privileges['data_apis.update']"
    class="card-footer d-flex justify-content-between">
    <button type="button" class="btn btn-sm btn-outline-primary"
      (click)="save()" [disabled]="updating">
      <svg-icon path="bi/check"></svg-icon> 保存
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary"
      (click)="goBack()">
      <svg-icon path="bi/x"></svg-icon> 关闭
    </button>
  </div>
</form>
