<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">首页</a></li>
    <li class="breadcrumb-item"><a routerLink="/data">数据</a></li>
    <li class="breadcrumb-item active" aria-current="page">矢量切片包</li>
  </ol>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card" *ngIf="(account.info | async) as info">
        <div class="card-header d-flex justify-content-between">
          <h5 class="card-title mb-0">矢量切片包</h5>
          <div class="btn-group btn-group-sm">
            <button *ngIf="info.privileges['vectortiles.create']"
              type="button" class="btn btn-outline-primary"
              (click)="showDetail('0', true)">
              <svg-icon path="bi/plus"></svg-icon> 新建矢量切片包
            </button>
            <button type="button" class="btn btn-outline-secondary"
              (click)="loadData()">
              <svg-icon path="bi/arrow-repeat"></svg-icon> 刷新
            </button>
          </div>
        </div>
        <form class="p-2 bg-light">
          <div class="row">
            <div class="col-6">
              <div class="row g-0 align-items-center">
                <label for="pageSize" class="col-auto col-form-label col-form-label-sm">
                  显示：
                </label>
                <div class="col-auto">
                  <select id="pageSize" name="pageSize"
                    class="form-select form-select-sm"
                    [(ngModel)]="vm.searchModel.take"
                    (change)="vm.onPageSizeChange()">
                    <option [value]="10">10</option>
                    <option [value]="25">25</option>
                    <option [value]="50">50</option>
                    <option [value]="100">100</option>
                  </select>
                </div>
                <div class="col-auto text-muted px-2 py-1">条记录</div>
                <div class="col-auto text-muted px-2">
                  <ng-container *ngIf="vm.loading">
                    <svg-icon path="bi/arrow-repeat" iconClass="bi-spin"></svg-icon> 加载中...
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="col-6">

              <div class="row g-0">
                <div class="col-6">
                  <!-- <span class="text-muted">其它工具栏</span> -->
                </div>
                <div class="col-6">
                  <div class="input-group input-group-sm">
                    <input class="form-control" type="text" name="keywords"
                      placeholder="按名称或目录搜索"
                      [(ngModel)]="vm.searchModel.keywords"
                      (keyup.enter)="vm.search()" />
                    <button class="btn btn-sm btn-outline-secondary" type="button"
                      *ngIf="vm.searchModel.keywords" (click)="resetSearch()">
                      <svg-icon path="bi/x"></svg-icon>
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </form>
        <div class="table-responsive">
          <table class="table table-striped mb-0">
            <thead>
              <tr>
                <th scope="col" class="text-center text-nowrap text-muted">#</th>
                <th scope="col" class="text-center text-nowrap text-muted">名称</th>
                <th scope="col" class="text-center text-nowrap text-muted">缓存目录</th>
                <th scope="col" class="text-center text-nowrap text-muted">最小缩放级别</th>
                <th scope="col" class="text-center text-nowrap text-muted">最大缩放级别</th>
                <th scope="col" class="text-center text-nowrap text-muted">操作</th>
              </tr>
            </thead>
            <tbody *ngIf="(vm.data | async) as data">
              <tr *ngFor="let item of data; let i = index;">
                <th scope="row" class="text-end text-muted">{{i+1+vm.searchModel.skip}}</th>
                <td class='text-start'>
                  <a class="preview-link" *ngIf="!!item.defaultStyle;else nopreviewTpl"
                    (click)="showPreview(item)">{{item.name}}</a>
                  <ng-template #nopreviewTpl>
                    {{item.name}}
                  </ng-template>
                </td>
                <td class='text-start'>{{item.directory}}</td>
                <td class='text-end'>{{item.minZoom}}</td>
                <td class='text-end'>{{item.maxZoom}}</td>
                <td class="text-center">
                  <div class="btn-group btn-group-sm">
                    <button *ngIf="info.privileges['vectortiles.read_by_id']"
                      class="btn btn-outline-secondary" ngbTooltip="详情" placement="top" [openDelay]="300" container="body"
                      (click)="showDetail(item.id, false)">
                      <svg-icon path="bi/info-square"></svg-icon>
                    </button>
                    <button *ngIf="info.privileges['vectortiles.update']"
                      class="btn btn-outline-secondary" ngbTooltip="编辑" placement="top" [openDelay]="300" container="body"
                      (click)="showDetail(item.id, true)">
                      <svg-icon path="bi/pencil-square"></svg-icon>
                    </button>
                    <button *ngIf="info.privileges['vectortiles.delete']"
                        class="btn btn-outline-secondary" ngbTooltip="删除" placement="top" [openDelay]="300" container="body"
                      (click)="delete(item.id)">
                      <svg-icon path="bi/trash"></svg-icon>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <div *ngIf="(vm.data | async) as data" class="row g-0">
            <div class="col-6 d-flex align-items-center">
              <div [class]="data.length > 0 ? 'text-muted' : 'text-warning'">
                <ng-container *ngIf="data.length > 0;else emptyTpl">
                  显示 {{vm.total | async}} 条记录中的第 {{vm.searchModel.skip + 1}} 至 {{vm.searchModel.skip + data.length}} 条
                </ng-container>
                <ng-template #emptyTpl>无数据！</ng-template>
              </div>
            </div>
            <div class="col-6">
              <ngb-pagination class="d-flex justify-content-end"
                *ngIf="vm.showPagination"
                size="sm"
                [collectionSize]="(vm.total | async) || 0"
                [page]="(vm.searchModel.skip / vm.searchModel.take) + 1"
                [pageSize]="vm.searchModel.take"
                [maxSize]="5"
                [rotate]="true"
                [boundaryLinks]="true"
                [ellipses]="true"
                (pageChange)="vm.onPageChange($event)">
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-container">
    <router-outlet></router-outlet>
  </div>
</div>
