@import "../../../variables";

:host {
  @include full-width-height();
  @include no-margin-padding();
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: var(--bs-light);

  .col-login {
    max-width: 24rem;
  }

}
