<form class="card detail" *ngIf="(account.info | async) as info" #detailForm="ngForm"
  [@animation]="animation" (@animation.done)="onAnimationEvent($event)">
  <div class="card-header d-flex justify-content-between align-content-center">
    <h5 class="card-title mb-0">{{title}}</h5>
    <div class="btn-group btn-group-sm">
      <button *ngIf="info.privileges['app_users.update'] && editable"
        type="button" class="btn btn-sm btn-outline-primary"
        (click)="save()" [disabled]="!detailForm.valid">
        <svg-icon path="bi/check"></svg-icon> 保存
      </button>
      <button type="button" class="btn btn-sm btn-outline-secondary"
        (click)="goBack()">
        <svg-icon path="bi/x"></svg-icon> 取消
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="form-group" [class.is-valid]="surname.valid"
          [class.is-invalid]="!(surname.valid || surname.pristine)">
          <label class="form-label text-muted" for="surname">姓氏 <i class="text-danger">*</i></label>
          <input class="form-control" type="text" id="surname" name="surname"
            placeholder="请输入用户姓氏 ..." [(ngModel)]="model.surname"
            [class.is-invalid]="!(surname.valid || surname.pristine)"
            [class.is-valid]="surname.valid"
            required #surname="ngModel" [disabled]="!editable" />
        </div>
      </div>
      <div class="col">
        <div class="form-group" [class.is-valid]="givenName.valid"
          [class.is-invalid]="!(givenName.valid || givenName.pristine)">
          <label class="form-label text-muted" for="givenName">名称 <i class="text-danger">*</i></label>
          <input class="form-control" type="text" id="givenName" name="givenName"
            placeholder="请输入用户名称 ..." [(ngModel)]="model.givenName"
            [class.is-invalid]="!(givenName.valid || givenName.pristine)"
            [class.is-valid]="givenName.valid"
            required #givenName="ngModel" [disabled]="!editable" />
        </div>
      </div>
    </div>
    <div class="form-group" [class.is-valid]="userName.valid"
      [class.is-invalid]="!(userName.valid || userName.pristine)">
      <label class="form-label text-muted" for="userName">用户名 <i class="text-danger">*</i></label>
      <input class="form-control" type="text" id="userName" name="userName"
        placeholder="请输入用户用户名 ..." [(ngModel)]="model.userName"
        [class.is-invalid]="!(userName.valid || userName.pristine)"
        [class.is-valid]="userName.valid"
        required #userName="ngModel" [disabled]="!editable" />
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group" [class.is-valid]="email.valid"
          [class.is-invalid]="!(email.valid || email.pristine)">
          <label class="form-label text-muted" for="email">电子邮箱 <i class="text-danger">*</i></label>
          <input class="form-control" type="text" id="email" name="email"
            placeholder="请输入用户电子邮箱 ..." [(ngModel)]="model.email"
            [class.is-invalid]="!(email.valid || email.pristine)"
            [class.is-valid]="email.valid"
            required #email="ngModel" [disabled]="!editable" />
        </div>
        <div class="form-group">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input"
              id="emailConfirmed" name="emailConfirmed"
              [(ngModel)]="model.emailConfirmed" [disabled]="!editable">
            <label class="custom-control-label text-muted" for="emailConfirmed">
              电子邮箱已确认
            </label>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group" [class.is-valid]="phoneNumber.valid"
          [class.is-invalid]="!(phoneNumber.valid || phoneNumber.pristine)">
          <label class="form-label text-muted" for="phoneNumber">电话号码 <i class="text-danger">*</i></label>
          <input class="form-control" type="text" id="phoneNumber" name="phoneNumber"
            placeholder="请输入用户电话号码 ..." [(ngModel)]="model.phoneNumber"
            [class.is-invalid]="!(phoneNumber.valid || phoneNumber.pristine)"
            [class.is-valid]="phoneNumber.valid"
            required #phoneNumber="ngModel" [disabled]="!editable" />
        </div>
        <div class="form-group">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input"
              id="phoneNumberConfirmed" name="phoneNumberConfirmed"
              [(ngModel)]="model.phoneNumberConfirmed" [disabled]="!editable">
            <label class="custom-control-label text-muted" for="phoneNumberConfirmed">
              电话号码已确认
            </label>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label class="form-label text-muted" for="dateOfBirth">出生日期</label>
          <div class="input-group">
            <input class="form-control" type="text" id="dateOfBirth" name="dateOfBirth"
              placeholder="请选择出生日期 ..." [(ngModel)]="dob"
              ngbDatepicker container="body" #dp="ngbDatepicker"
              #dateOfBirth="ngModel" [disabled]="!editable" />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar"
                (click)="dp.toggle()" [disabled]="!editable">
                <svg-icon path="bi/calendar3"></svg-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="form-label text-muted" for="gender">性别</label>
          <div class="form-control-plaintext">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="gender1" value="保密"
                [(ngModel)]="model.gender" [disabled]="!editable">
              <label for="gender1" class="form-check-label">保密</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="gender2" value="男"
                [(ngModel)]="model.gender" [disabled]="!editable">
              <label for="gender2" class="form-check-label">男</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" id="gender3" value="女"
                [(ngModel)]="model.gender" [disabled]="!editable">
              <label for="gender3" class="form-check-label">女</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label text-muted" for="streetAddress">地址</label>
      <input class="form-control" type="text" id="streetAddress" name="streetAddress"
        placeholder="请输入用户地址 ..." [(ngModel)]="model.streetAddress"
        [disabled]="!editable" />
    </div>
    <hr />
    <div class="form-group">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input"
          id="lockoutEnabled" name="lockoutEnabled"
          [(ngModel)]="model.lockoutEnabled" [disabled]="!editable">
        <label class="custom-control-label text-muted" for="lockoutEnabled">
          连续输错密码时，允许锁定该用户
        </label>
      </div>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-between"
    *ngIf="info.privileges['app_users.update'] && editable">
    <button class="btn btn-sm btn-outline-primary" type="button"
      (click)="save()" [disabled]="!detailForm.valid">
      <svg-icon path="bi/check"></svg-icon> 保存
    </button>
    <button class="btn btn-sm btn-outline-secondary" type="button"
      (click)="goBack()">
      <svg-icon path="bi/x"></svg-icon> 取消
    </button>
  </div>
</form>
