<form class="card detail" *ngIf="(account.info | async) as info" #detailForm="ngForm"
  [@animation]="animation" (@animation.done)="onAnimationEvent($event)">
  <div class="card-header d-flex justify-content-between align-content-center">
    <h5 class="card-title mb-0">{{title}}</h5>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-sm btn-outline-secondary"
        (click)="goBack()">
        <svg-icon path="bi/x"></svg-icon> 关闭
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col mb-3">
        <label class="form-label text-muted">日志ID </label>
        <div class="form-control-plaintext">{{model.id}}</div>
      </div>
      <div class="col mb-3">
        <label class="form-label text-muted">创建时间 </label>
        <div class="form-control-plaintext">{{model.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col mb-3">
        <label class="form-label text-muted">线程 </label>
        <div class="form-control-plaintext">{{model.thread}}</div>
      </div>
      <div class="col mb-3">
        <label class="form-label text-muted">日志级别 </label>
        <div class="form-control-plaintext">{{model.level}}</div>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label text-muted">记录者 </label>
      <div class="form-control-plaintext">{{model.logger}}</div>
    </div>
    <div class="mb-3">
      <label class="form-label text-muted" for="message">日志消息 </label>
      <textarea class="form-control" id="message" readonly>{{model.message}}</textarea>
    </div>
    <div class="mb-3">
      <label class="form-label text-muted" for="exception">异常信息 </label>
      <textarea class="form-control" id="exception" readonly rows="10" placeholder="无异常信息...">{{model.exception}}</textarea>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <button type="button" class="btn btn-sm btn-outline-secondary"
      (click)="goBack()">
      <svg-icon path="bi/x"></svg-icon> 关闭
    </button>
  </div>
</form>
