<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">首页</a></li>
    <li class="breadcrumb-item"><a routerLink="/admin">管理</a></li>
    <li class="breadcrumb-item active" aria-current="page">用户管理</li>
  </ol>
</nav>
<div class="container-fluid">
  <div class="row">

    <div class="col-12">
      <div class="card" *ngIf="(account.info | async) as info">
        <div class="card-header d-flex justify-content-between">
            <h5 class="card-title mb-0">用户</h5>
            <div class="btn-group btn-group-sm">
              <button *ngIf="info.privileges['app_users.create']" type="button" class="btn btn-outline-primary"
                (click)="showDetail('0', true)">
                <i class="fa fa-plus"></i> 新建用户
              </button>
              <button type="button" class="btn btn-outline-secondary"
                (click)="loadData()">
                <i class="fa fa-sync"></i> 刷新
              </button>
            </div>
        </div>
        <form class="p-2 bg-light">
          <div class="form-row">
            <div class="col-6">
              <div class="row no-gutters align-items-center">
                <label for="pageSize" class="col-auto col-form-label col-form-label-sm">
                  显示：
                </label>
                <div class="col-auto">
                  <select id="pageSize" name="pageSize"
                    class="form-control form-control-sm"
                    [(ngModel)]="vm.searchModel.take"
                    (change)="vm.onPageSizeChange()">
                    <option [value]="5">5</option>
                    <option [value]="10">10</option>
                    <option [value]="25">25</option>
                    <option [value]="50">50</option>
                    <option [value]="100">100</option>
                  </select>
                </div>
                <div class="col-auto text-muted px-2 py-1">条记录</div>
                <div class="col-auto text-muted px-2">
                  <ng-container *ngIf="vm.loading">
                    <i class="fa fa-spin fa-spinner"></i> 加载中...
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row no-gutters">
                <div class="col-4"></div>
                <div class="col">
                  <select class="form-control form-control-sm" name="roleName"
                    [(ngModel)]="vm.searchModel.roleName" (change)="searchByRole()">
                    <option value="">全部用户 ({{ getUserCount() }})</option>
                    <option *ngFor="let r of vm.roles | async" [value]="r.name">
                      {{r.description || r.name}} ({{r.userCount}})
                    </option>
                  </select>
                </div>
                <div class="col">
                  <div class="input-group input-group-sm">
                    <input class="form-control" name="userName" type="text"
                      placeholder="按用户名搜索"
                      [(ngModel)]="vm.searchModel.userName"
                      (keyup.enter)="vm.search()" />
                    <div class="input-group-append">
                      <button class="btn btn-sm btn-outline-secondary" type="button"
                        *ngIf="vm.searchModel.userName" (click)="cleanUserSearch()">
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="input-group input-group-sm ml-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">排序：</div>
                    </div>
                    <select class="form-control" name="sortBy" [(ngModel)]="vm.searchModel.sortBy"
                      (change)="vm.search()">
                      <option *ngFor="let sm of vm.sortMethods" [value]="sm.value">
                        {{sm.text}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="table-responsive">
          <table class="table table-striped mb-0">
            <thead>
              <tr>
                <th scope="col" class="text-right">#</th>
                <th scope="col" class="text-left">用户名</th>
                <th scope="col" class="text-center">电话</th>
                <th scope="col" class="text-center">创建时间</th>
                <th scope="col" class="text-center">最近登录</th>
                <th scope="col" class="text-right">登录次数</th>
                <th scope="col" class="text-center text-nowrap text-muted">操作</th>
              </tr>
            </thead>
            <tbody *ngIf="(vm.data | async) as data">
              <tr *ngFor="let item of data; let i = index;">
                <th scope="row" class="text-right">{{i + 1}}</th>
                <td class="text-left">
                  {{getFullname(item)}}
                  <i class="text-danger fa fa-user-lock" style="cursor: pointer;"
                    *ngIf="isLockout(item)" ngbTooltip="该用户已经被锁定！"></i>
                </td>
                <td class="text-center">{{item.phoneNumber}}</td>
                <td class="text-center">{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td class="text-center">{{item.lastLogin | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td class="text-right">{{item.loginCount}}</td>
                <td class="text-center">
                  <div class="btn-group btn-group-sm">
                    <button class="btn btn-outline-secondary" type="button"
                      *ngIf="info.privileges['app_users.read']"
                      ngbTooltip="详情" placement="top" [openDelay]="300"
                      (click)="showDetail(item.id, false)">
                      <i class="fa fa-id-card"></i>
                    </button>
                    <div class="btn-group btn-group-sm" *ngIf="canViewGears()"
                      ngbDropdown container="body">
                      <button class="btn btn-outline-secondary" type="button"
                        ngbTooltip="用户操作" placement="top" container="body" [openDelay]="300"
                        ngbDropdownToggle>
                        <i class="fa fa-users-cog"></i>
                      </button>
                      <div class="dropdown-menu" ngbDropdownMenu>
                        <button class="text-muted" type="button" ngbDropdownItem
                          *ngIf="info.privileges['app_users.update']"
                          (click)="showDetail(item.id, true)">
                          <i class="fa fa-user-edit"></i> 编辑
                        </button>
                        <ng-container *ngIf="isLockout(item);else lockTpl">
                          <button class="text-muted" type="button" ngbDropdownItem
                            *ngIf="info.privileges['app_users.unlock']"
                            (click)="vm.unlockUser(item.id)">
                            <i class="fa fa-unlock-alt"></i> 解锁
                          </button>
                        </ng-container>
                        <ng-template #lockTpl>
                          <button class="text-muted" type="button" ngbDropdownItem
                            *ngIf="info.privileges['app_users.lock']"
                            (click)="navigateTo(item, 'lock')">
                            <i class="fa fa-user-lock"></i> 锁定
                          </button>
                        </ng-template>
                        <button class="text-muted" type="button" ngbDropdownItem
                          *ngIf="info.privileges['app_users.reset_pass']"
                          (click)="navigateTo(item, 'password')">
                          <i class="fa fa-user-secret"></i> 重置密码
                        </button>
                        <button class="text-muted" type="button" ngbDropdownItem
                          *ngIf="info.privileges['app_users.read_user_roles']"
                          (click)="navigateTo(item, 'roles')">
                          <i class="fa fa-user-tag"></i> 角色
                        </button>
                        <button class="text-muted" type="button" ngbDropdownItem
                          *ngIf="info.privileges['app_users.delete']"
                          (click)="delete(item.id)">
                          <i class="fa fa-user-times"></i> 删除
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <div *ngIf="(vm.data | async) as data" class="row no-gutters">
            <div class="col-6 d-flex align-items-center">
              <div [class]="data.length > 0 ? 'text-muted' : 'text-warning'">
                <ng-container *ngIf="data.length > 0;else emptyTpl">
                  显示 {{vm.total | async}} 条记录中的第 {{vm.searchModel.skip + 1}} 至 {{vm.searchModel.skip + data.length}} 条
                </ng-container>
                <ng-template #emptyTpl>无数据！</ng-template>
              </div>
            </div>
            <div class="col-6">
              <ngb-pagination class="d-flex justify-content-end"
                *ngIf="(vm.total | async) > data.length"
                size="sm"
                [collectionSize]="vm.total | async"
                [page]="(vm.searchModel.skip / vm.searchModel.take) + 1"
                [pageSize]="vm.searchModel.take"
                [maxSize]="5"
                [rotate]="true"
                [boundaryLinks]="true"
                [ellipses]="true"
                (pageChange)="vm.onPageChange($event)">
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-container">
    <router-outlet></router-outlet>
  </div>
</div>
