<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">首页</a></li>
    <li class="breadcrumb-item"><a routerLink="/admin">管理</a></li>
    <li class="breadcrumb-item active" aria-current="page">用户管理</li>
  </ol>
</nav>
<div class="container-fluid">
  <div class="row">

    <div class="col-12">
      <div class="card" *ngIf="(account.info | async) as info">
        <div class="card-header d-flex justify-content-between">
            <h5 class="card-title mb-0">用户</h5>
            <div class="btn-group btn-group-sm">
              <button *ngIf="info.privileges['app_users.create']" type="button" class="btn btn-outline-primary"
                (click)="showDetail('0', true)">
                <i class="fa fa-plus"></i> 新建用户
              </button>
              <button type="button" class="btn btn-outline-secondary"
                (click)="loadData()">
                <i class="fa fa-sync"></i> 刷新
              </button>
            </div>
        </div>
        <form class="p-2 bg-light">
          <div class="form-row">
            <div class="col-6">
              <div class="row no-gutters align-items-center">
                <label for="pageSize" class="col-auto col-form-label col-form-label-sm">
                  显示：
                </label>
                <div class="col-auto">
                  <select id="pageSize" name="pageSize"
                    class="form-control form-control-sm"
                    [(ngModel)]="vm.searchModel.take"
                    (change)="vm.onPageSizeChange()">
                    <option [value]="10">10</option>
                    <option [value]="25">25</option>
                    <option [value]="50">50</option>
                    <option [value]="100">100</option>
                  </select>
                </div>
                <div class="col-auto text-muted px-2 py-1">条记录</div>
                <div class="col-auto text-muted px-2">
                  <ng-container *ngIf="vm.loading">
                    <i class="fa fa-spin fa-spinner"></i> 加载中...
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row no-gutters">
                <div class="col-6">
                  <!-- <span class="text-muted">其它工具栏</span> -->
                </div>
                <div class="col-6">
                  <!-- <span class="text-muted">其它工具栏</span> -->
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="table-responsive">
          <table class="table table-striped mb-0">
            <thead>
              <tr>
                <th scope="col" class="text-right">#</th>
                <th scope="col" class="text-left">用户名</th>
                <th scope="col" class="text-center">电话</th>
                <th scope="col" class="text-center">创建时间</th>
                <th scope="col" class="text-center">最近登录</th>
                <th scope="col" class="text-center">登录次数</th>
                <th scope="col" class="text-center text-nowrap text-muted">操作</th>
              </tr>
            </thead>
            <tbody *ngIf="(vm.data | async) as data">
              <tr *ngFor="let item of data; let i = index;">
                <th scope="row" class="text-right">{{i + 1}}</th>
                <td class="text-left">{{getFullname(item)}}</td>
                <td class="text-center">{{item.phoneNumber}}</td>
                <td class="text-center">{{item.createTime | date:'yyyy-MM-dd'}}</td>
                <td class="text-center">{{item.lastLogin | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td class="text-right">{{item.loginCount}}</td>
                <td class="text-center">
                  <div class="btn-group btn-group-sm">
                    <button *ngIf="info.privileges['app_privileges.read']"
                      class="btn btn-outline-secondary" ngbTooltip="详情"
                      placement="top" [openDelay]="300"
                      (click)="showDetail(item.id, false)">
                      <i class="fa fa-list-alt"></i>
                    </button>
                    <button *ngIf="info.privileges['app_privileges.update']"
                      class="btn btn-outline-secondary" ngbTooltip="编辑"
                      placement="top" [openDelay]="300"
                      (click)="showDetail(item.id, true)">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button *ngIf="info.privileges['app_privileges.delete']"
                      class="btn btn-outline-secondary" ngbTooltip="删除" placement="top" [openDelay]="300"
                      (click)="delete(item.id)">
                      <i class="fa fa-trash-alt"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-container">
    <router-outlet></router-outlet>
  </div>
</div>
