<form class="card detail" *ngIf="(account.info | async) as info" #detailForm="ngForm"
  [@animation]="animation" (@animation.done)="onAnimationEvent($event)">
  <div class="card-header d-flex justify-content-between align-content-center">
    <h5 class="card-title mb-0">{{title}}</h5>
    <div class="btn-group btn-group-sm">
      <button *ngIf="info.privileges['data_apis.update'] && editable"
        type="button" class="btn btn-sm btn-outline-primary"
        (click)="save()" [disabled]="!detailForm.valid">
        <svg-icon path="bi/check"></svg-icon> 保存
      </button>
      <button type="button" class="btn btn-sm btn-outline-secondary"
        (click)="goBack()">
        <svg-icon path="bi/x"></svg-icon> 取消
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="mb-3">
      <label class="form-label text-muted" for="name">接口名称 <i class="text-danger">*</i> </label>
      <input class="form-control" type="text" id="name" name="name"
        placeholder="请输入接口名称 ..." required
        [disabled]="!editable"
        [(ngModel)]="model.name"
        #name="ngModel"
        [class.is-invalid]="!(name.valid || name.pristine)"
        [class.is-valid]="name.valid"
      />
    </div>
    <div class="mb-3">
      <label class="form-label text-muted" for="description">接口描述 </label>
      <textarea class="form-control" type="text" id="description" name="description"
        placeholder="请输入接口描述 ..."
        [(ngModel)]="model.description" [disabled]="!editable"
      ></textarea>
    </div>
    <div class="mb-3">
      <label class="form-label text-muted" for="dataSource">数据源 <i class="text-danger">*</i> </label>
      <select class="form-select" id="dataSource" name="dataSource" required
        [disabled]="!editable"
        [(ngModel)]="dataSource"
        #ds="ngModel"
        [class.is-invalid]="!(ds.valid || ds.pristine)"
        [class.is-valid]="ds.valid"
        (change)="onSelectDataSource()"
        >
        <option *ngFor="let s of dataSources" [ngValue]="s">
          {{s.name}}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <div class="form-check">
        <input type="checkbox" class="form-check-input"
          id="writeData" name="writeData"
          [(ngModel)]="model.writeData" [disabled]="!editable" />
        <label class="form-check-label" for="writeData">
          此接口向数据源写入数据
        </label>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label text-muted" for="roles">允许访问的角色 </label>
      <div class="form-text">
        <div class="form-check form-check-inline form-switch" *ngFor="let role of vm.roles">
          <input class="form-check-input" type="checkbox" [id]="role.id"
            [name]="role.name" [disabled]="!editable" [value]="role.name"
            [checked]="isRoleChecked(role.name)" (change)="toggleCheckedRole(role.name)" />
          <label class="form-check-label text-muted" [htmlFor]="role.id">{{role.description}}</label>
        </div>
      </div>
      <input class="form-control" type="text" id="roles" name="roles"
        placeholder="请输入允许访问的角色 ..."
        [(ngModel)]="model.roles" [disabled]="!editable"
      />
    </div>
  </div>
  <div *ngIf="info.privileges['data_apis.update'] && editable"
    class="card-footer d-flex justify-content-between">
    <button type="button" class="btn btn-sm btn-outline-primary"
      (click)="save()" [disabled]="!detailForm.valid">
      <svg-icon path="bi/check"></svg-icon> 保存
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary"
      (click)="goBack()">
      <svg-icon path="bi/x"></svg-icon> 取消
    </button>
  </div>
</form>
