<form class="card detail" *ngIf="(account.info | async) as info" #detailForm="ngForm"
  [@animation]="animation" (@animation.done)="onAnimationEvent($event)">
  <div class="card-header d-flex justify-content-between align-content-center">
    <h5 class="card-title mb-0">{{title}}</h5>
    <div class="btn-group btn-group-sm">
      <button *ngIf="info.privileges['data_apis.update'] && editable"
        type="button" class="btn btn-sm btn-outline-primary"
        (click)="save()" [disabled]="!detailForm.valid">
        <svg-icon path="bi/check"></svg-icon> 保存
      </button>
      <button type="button" class="btn btn-sm btn-outline-secondary"
        (click)="goBack()">
        <svg-icon path="bi/x"></svg-icon> 取消
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="mb-3">
      <label class="form-label text-muted" for="id">数据API ID  <i class="text-danger">*</i> </label>
      <input class="form-control" type="text" id="id" name="id"
        placeholder="请输入数据API ID ..." required
        [disabled]="!editable"
        [(ngModel)]="model.id"
        #id="ngModel"
        [class.is-invalid]="!(id.valid || id.pristine)"
        [class.is-valid]="id.valid"
      />
    </div>
    <div class="mb-3">
      <label class="form-label text-muted" for="name">数据API名称  <i class="text-danger">*</i> </label>
      <input class="form-control" type="text" id="name" name="name"
        placeholder="请输入数据API名称 ..." required
        [disabled]="!editable"
        [(ngModel)]="model.name"
        #name="ngModel"
        [class.is-invalid]="!(name.valid || name.pristine)"
        [class.is-valid]="name.valid"
      />
    </div>
    <div class="mb-3">
      <label class="form-label text-muted" for="description">数据API描述 </label>
      <input class="form-control" type="text" id="description" name="description"
        placeholder="请输入数据API描述 ..."
        [(ngModel)]="model.description" [disabled]="!editable"
      />
    </div>
    <div class="mb-3">
      <label class="form-label text-muted" for="dataSourceId">数据源ID  <i class="text-danger">*</i> </label>
      <input class="form-control" type="text" id="dataSourceId" name="dataSourceId"
        placeholder="请输入数据源ID ..." required
        [disabled]="!editable"
        [(ngModel)]="model.dataSource"
        #dataSourceId="ngModel"
        [class.is-invalid]="!(dataSourceId.valid || dataSourceId.pristine)"
        [class.is-valid]="dataSourceId.valid"
      />
    </div>
    <div class="mb-3">
      <div class="form-check form-switch">
        <input type="checkbox" class="form-check-input"
          id="writeData" name="writeData"
          [(ngModel)]="model.writeData" [disabled]="!editable">
        <label class="form-check-label text-muted"
          for="writeData">
          是否向数据源写入数据
        </label>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label text-muted" for="statement">数据API调用的 XML + SQL 命令  <i class="text-danger">*</i> </label>
      <input class="form-control" type="text" id="statement" name="statement"
        placeholder="请输入数据API调用的 XML + SQL 命令 ..." required
        [disabled]="!editable"
        [(ngModel)]="model.statement"
        #statement="ngModel"
        [class.is-invalid]="!(statement.valid || statement.pristine)"
        [class.is-valid]="statement.valid"
      />
    </div>
    <div class="mb-3">
      <label class="form-label text-muted" for="parameters">参数定义  <i class="text-danger">*</i> </label>
      <input class="form-control" type="text" id="parameters" name="parameters"
        placeholder="请输入参数定义 ..." required
        [disabled]="!editable"
        [(ngModel)]="model.parameters"
        #parameters="ngModel"
        [class.is-invalid]="!(parameters.valid || parameters.pristine)"
        [class.is-valid]="parameters.valid"
      />
    </div>
    <div class="mb-3">
      <label class="form-label text-muted" for="columns">API 输出列的源数据 </label>
      <input class="form-control" type="text" id="columns" name="columns"
        placeholder="请输入API 输出列的源数据 ..."
        [(ngModel)]="model.columns" [disabled]="!editable"
      />
    </div>
    <div class="mb-3">
      <label class="form-label text-muted" for="roles">允许访问的角色 </label>
      <input class="form-control" type="text" id="roles" name="roles"
        placeholder="请输入允许访问的角色 ..."
        [(ngModel)]="model.roles" [disabled]="!editable"
      />
    </div>
    <div class="mb-3">
      <label class="form-label text-muted" for="creatorId">创建者id  <i class="text-danger">*</i> </label>
      <input class="form-control" type="text" id="creatorId" name="creatorId"
        placeholder="请输入创建者id ..." required
        [disabled]="!editable"
        [(ngModel)]="model.creator"
        #creatorId="ngModel"
        [class.is-invalid]="!(creatorId.valid || creatorId.pristine)"
        [class.is-valid]="creatorId.valid"
      />
    </div>
    <div class="mb-3">
      <label class="form-label text-muted" for="createdAt">创建时间  <i class="text-danger">*</i> </label>
      <input class="form-control" type="text" id="createdAt" name="createdAt"
        placeholder="请输入创建时间 ..." required
        [disabled]="!editable"
        [(ngModel)]="model.createdAt"
        #createdAt="ngModel"
        [class.is-invalid]="!(createdAt.valid || createdAt.pristine)"
        [class.is-valid]="createdAt.valid"
      />
    </div>
    <div class="mb-3">
      <label class="form-label text-muted" for="updaterId">更新者id  <i class="text-danger">*</i> </label>
      <input class="form-control" type="text" id="updaterId" name="updaterId"
        placeholder="请输入更新者id ..." required
        [disabled]="!editable"
        [(ngModel)]="model.updater"
        #updaterId="ngModel"
        [class.is-invalid]="!(updaterId.valid || updaterId.pristine)"
        [class.is-valid]="updaterId.valid"
      />
    </div>
    <div class="mb-3">
      <label class="form-label text-muted" for="updatedAt">更新时间  <i class="text-danger">*</i> </label>
      <input class="form-control" type="text" id="updatedAt" name="updatedAt"
        placeholder="请输入更新时间 ..." required
        [disabled]="!editable"
        [(ngModel)]="model.updatedAt"
        #updatedAt="ngModel"
        [class.is-invalid]="!(updatedAt.valid || updatedAt.pristine)"
        [class.is-valid]="updatedAt.valid"
      />
    </div>
  </div>
  <div *ngIf="info.privileges['data_apis.update'] && editable"
    class="card-footer d-flex justify-content-between">
    <button type="button" class="btn btn-sm btn-outline-primary"
      (click)="save()" [disabled]="!detailForm.valid">
      <svg-icon path="bi/check"></svg-icon> 保存
    </button>
    <button type="button" class="btn btn-sm btn-outline-secondary"
      (click)="goBack()">
      <svg-icon path="bi/x"></svg-icon> 取消
    </button>
  </div>
</form>
