@import '../../../variables';

:host {
  display: block;
  
  .tree-node-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
    cursor: pointer;
    &.selected {
      background-color: $gray-300;
    }
  }
}
