:host {
  display: block;
}

.tree-node-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1;
  cursor: pointer;
}

.tree-node-info.selected {
  background-color: var(--bs-gray-300);
}
