<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark"
  *ngIf="navigation.root | async as root">
  <div class="container-fluid">
  <a class="navbar-brand" [routerLink]="root.url">
    <svg-icon path="bi/app-indicator" iconClass="bi bi-lg"></svg-icon>
    {{root.title}}
  </a>
  <button class="navbar-toggler" type="button" (click)="collapsed = !collapsed"
    aria-controls="navbarToggleContent"
    aria-expanded="false"
    aria-label="切换导航">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngbCollapse]="collapsed"
    *ngIf="account.info | async as info">
    <ul class="modules navbar-nav mt-2 mt-lg-0 me-auto" *ngIf="navigation.topbarNodes | async as nodes">
      <ng-container *ngFor="let item of nodes">
        <li class="nav-item" routerLinkActive="active" *ngIf="!item.isHidden">
          <a class="nav-link" [routerLink]="item.url" routerLinkActive="active" (click)="collapsed = true">{{item.title}}</a>
        </li>
      </ng-container>
    </ul>
    <ul class="navbar-nav mt-2 mt-lg-0 ms-auto">
      <ng-container *ngIf="info.id; else loginTpl;">
        <li class="nav-item" routerLinkActive="active" display="dynamic" ngbDropdown>
          <a class="nav-link" id="account-dropdown" style="cursor: pointer;" routerLinkActive="active" ngbDropdownToggle>{{account.fullName | async}}</a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="account-dropdown" ngbDropdownMenu>
            <ng-container *ngIf="navigation.accountNodes | async as ans">
              <a *ngFor="let n of ans" ngbDropdownItem [routerLink]="n.url">
                <svg-icon [path]="n.icon"></svg-icon> {{n.title}}
              </a>
              <hr class="dropdown-divider" *ngIf="ans.length > 0" />
            </ng-container>
            <a style="cursor: pointer;" ngbDropdownItem (click)="logout($event)">
              <svg-icon path="bi/door-open"></svg-icon> 注销
            </a>
          </div>
        </li>
      </ng-container>
      <ng-template #loginTpl>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">登录</a>
        </li>
      </ng-template>
    </ul>
  </div>
  </div>
</nav>
