<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark"
  *ngIf="navigation.root | async as root">
  <a class="navbar-brand" [routerLink]="root.url">
    <i [class]="root.icon"></i> {{root.title}}
  </a>
  <button class="navbar-toggler" type="button" (click)="collapsed = !collapsed"
    aria-controls="navbarToggleContent"
    aria-expanded="false"
    aria-label="切换导航">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse" [class.collapse]="collapsed"
    [class.d-flex]="!collapsed" *ngIf="account.info | async as info">
    <ul class="navbar-nav modules mt-2 mt-lg-0 mr-auto"
    *ngIf="navigation.topbarNodes | async as nodes">
      <li class="nav-item" routerLinkActive="active" *ngFor="let item of nodes">
        <a class="nav-link" [routerLink]="item.url">{{item.title}}</a>
      </li>
    </ul>
    <ul class="navbar-nav mt-2 mt-lg-0 ml-auto">
      <li *ngIf="!info.id;else userNavTpl" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/login">登录</a>
      </li>
      <ng-template #userNavTpl>
        <li class="nav-item" routerLinkActive="active"
          ngbDropdown>
          <a class="nav-link user-info-action" ngbDropdownToggle id="userDropDown"
            role="button">
            {{account.fullName | async}}
          </a>
          <div ngbDropdownMenu aria-labelledby="userDropDown" class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="#" (click)="logout($event)">注销</a>
          </div>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
